<div class="{{selectedTab.name}}">
    <div class="section_head">
        <h2>{{selectedTab.title}}</h2>
    </div>
    <section>
        <div class="form_layer">
            <div>
                <label for="config_path">配置及缓存位置<span ng-if="!isMac" class="warning">（软件下次启动时生效）</span></label>
            </div>
            <div>
                <input class="form-control" type="text" readonly ng-model="setting.configpath" name="config_path" id="config_path"/>
                <button class="btn btn-default" ng-if="!isMac"  ng-click="selectConfigPath()">移动</button>
            </div>
        </div>
        <div class="form_layer">
            <div>
                <button class="btn btn-danger" ng-click="clearCache()">清除缓存</button>
                <span class="tip">删除缓存可以换出你的硬盘空间，但可能会导致你的同步效率下降</span>
            </div>

        </div>
    </section>
</div>