<div class="{{selectedTab.name}}">
    <div class="section_head">
        <h2>{{selectedTab.title}}</h2>
    </div>
    <section>
        <div class="form_layer" ng-repeat="settingItem in settings">
            <div ng-if="settingItem.type=='checkbox'">
                <input type="{{settingItem.type}}" ng-model="settingItem.model" name="{{settingItem.name}}" id="{{settingItem.name}}"/>
                <label for="{{settingItem.name}}">{{settingItem.label}}</label>
                <span class="warning" ng-if="settingItem.tip">{{settingItem.tip}}</span>
            </div>
            <div ng-if="settingItem.type=='select'">
                <label for="{{settingItem.name}}">{{settingItem.label}}</label>
               <select class="form-control" name="{{settingItem.name}}" ng-model="settingItem.model" id="{{settingItem.name}}" ng-change="settingItem.change()" ng-options="option.name for option in settingItem.options"></select>
                <span class="warning" ng-if="settingItem.tip">{{settingItem.tip}}</span>
            </div>
            <div ng-if="settingItem.type=='button'">
                <button class="btn btn-default" ng-disabled="!settings[settingItem.dependon].model" ng-click="settingItem.click()">{{settingItem.label}}</button>
                <span class="warning" ng-if="settingItem.tip">{{settingItem.tip}}</span>
            </div>
        </div>
    </section>
</div>