/* css 通用组件样式 */
i.icon16x16{
    width: 16px;
    height: 16px;
    background: url(../images/icon/icon16x16.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
i.icon16x16.icon_email{
    background-position: -164px -84px;
}
i.icon16x16.icon_lock{
    background-position: -184px -24px;
}
i.icon16x16.icon_person{
    background-position: -484px -4px;
}
i.icon16x16.icon_person_white{
    background-position: -484px -24px;
}
i.icon16x16.icon_close_window{
    background-position: -204px -64px;
}
i.icon16x16.icon_info{
    background-position: -524px -4px;
}
i.icon16x16.icon_computer{
    background-position: -544px -4px;
}
i.icon16x16.icon_sync{
    background-position: -564px -4px;
}
i.icon16x16.icon_network{
    background-position: -584px -4px;
}
i.icon16x16.icon_airplane{
     background-position: -604px -4px;
 }
i.icon16x16.icon_upload{
    background-position: -404px -4px;
}

i.icon16x16.icon_upload_white{
    background-position: -404px -24px;
}
i.icon16x16.icon_download{
    background-position: -384px -4px;
}
i.icon16x16.icon_download_white{
    background-position: -384px -24px;
}
i.icon16x16.icon_sync2{
    background-position: -424px -4px;
}
i.icon16x16.icon_sync2_white{
    background-position: -424px -24px;
}
/*********文件图标 32*32*******/

/*其他文件*/
.icon_other {
    background-image: url(../images/icon/other32x32.png);
}

/*视频文件*/
.icon_movie {
    background-image: url(../images/icon/movie32x32.png);
}

/*声音文件*/
.icon_music {
    background-image: url(../images/icon/music32x32.png);
}

/*图片文件*/
.icon_image {
    background-image: url(../images/icon/image32x32.png);
}

/*文档文件*/
.icon_document {
    background-image: url(../images/icon/document32x32.png);
}

/*压缩文件*/
.icon_compress {
    background-image: url(../images/icon/compress32x32.png);
}

.icon_doc {
    background-image: url(../images/icon/word32x32.png);
}

.icon_xls {
    background-image: url(../images/icon/excel32x32.png);
}

.icon_ppt {
    background-image: url(../images/icon/ppt32x32.png);
}

.icon_pdf {
    background-image: url(../images/icon/pdf32x32.png);
}

/*可执行文件*/
.icon_execute {
    background-image: url(../images/icon/exe32x32.png);
}

/*文件夹*/
.icon_folder {
    background-image: url(../images/icon/folder32x32.png);
}

.icon_local_folder {
    background-image: url(../images/icon/local_folder32x32.png);
}

.icon_shared_folder {
    background-image: url(../images/icon/folder_share32x32.png);
}

.icon_private_folder {
    background-image: url(../images/icon/private_folder32x32.png);
}

/*通过border实现的箭头*/

.gk_up_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-bottom-color: #7f8999;
}

.gk_down_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-top-color: #7f8999;
}
.gk_left_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-left-color: #7f8999;
    border-right: 0;
}
.gk_right_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-right-color: #7f8999;
}

/*按钮*/
.btn-gk{
    padding: 3px 12px;
    border:1px solid #c2cbd3;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#dbdee1));
    box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 1px rgba(255,255,255,1);
    font-family: "hiragino sans gb","Helvetica Neue","Helvetica","Arial","宋体", "simsun","sans-serif";
    font-size: 13px;
    color:#738295;
}
.btn-big{
    position: relative;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,.2)),to(rgba(255,255,255,0)));
    font-size: 19px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.9);
}

.btn-blue{
    background-color: #448DE8;
    border-color: #597FAE;
    color: #fff;
    font-weight: normal;
    text-shadow: -1px -1px 0 rgba(0,0,0,.9);
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus{
    color: #fff;
}
.btn-green{
    background-color: #52AE75;
    border-color: #54AD76;
    color: #fff;
    font-weight: normal;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus{
    color: #fff;
}
.input_tip_list{
    position: absolute;
    background: #fff;
    max-width: 120px;
    max-height: 200px;
    overflow: auto;
    top:-9999px;
    left:0;
    /*display: block;*/
}
.input_tip_list.dropdown-menu > li >a.active{
    color: white;
    text-decoration: none;
    background-color: #428BCA;
}
.ui-match {
    background: yellow;
}

/**日期选择组件**/
.input-datepicker{
    border:1px solid #ccc;
    display: inline-block;
    width: auto;
    height: 34px;
    background: #fff;
    padding: 6px;
}
.input-datepicker i.calendar{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url(../images/icon/icon16x16.png) no-repeat -4px -4px;

}
.input-datepicker input{
    border:0 none;
    height: 100%;
    padding: 0;
    border-radius: 0;
    font-size: 13px;
}
/**重写bootstarp的datepicker样式**/

.gk_datepicker{
    /*max-width: 240px;*/
    padding: 5px;
    border:1px solid #E5E5E5;
    box-shadow: none;
    border-radius: 0;
}
.gk_datepicker *{
   font-size: 12px;
}
.gk_datepicker td{
    border: 1px solid #E5E5E5;
}
.gk_datepicker table .btn{
    border:0 none;
    padding: 4px 7px;
}
.gk_datepicker table .btn{
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.gk_datepicker table .btn.btn-info,
.gk_datepicker table .btn:hover,
.gk_datepicker table .btn:active{
    background:#eaeaea;
    color:#333;
}
.dropdown-menu a{
    font-size: 13px;
}

/*自定义关闭按钮样式*/
button.close_window{
    position: absolute;
    z-index: 9999;
    display: block;
    width: 16px;
    height: 16px;
    background: none;
    border:0 none;
    top:2px;
    right: 3px;
}
.empty{
    text-align: center;
    padding-top: 60px;
    color:#ACB4BF;
}