/* css 通用组件样式 */
.icon16x16{
    width: 16px;
    height: 16px;
    background-image: url(../images/icon/icon16x16.png?v=2);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
.icon16x16.icon_myfolder{
    background-position: -4px -4px;
}
.icon16x16.icon_myfolder_white{
    background-position: -24px -4px;
}
.active .icon16x16.icon_myfolder,
.icon16x16.icon_myfolder_color{
    background-position: -44px -4px;
}

.icon16x16.icon_teamfolder{
    background-position: -4px -24px;
}
.icon16x16.icon_teamfolder_white{
    background-position: -24px -24px;
}
.active .icon16x16.icon_teamfolder,
.icon16x16.icon_teamfolder_color{
    background-position: -44px -24px;
}


.icon16x16.icon_subscribefolder{
    background-position: -4px -44px;
}
.icon16x16.icon_subscribefolder_white{
    background-position: -24px -44px;
}
.active .icon16x16.icon_subscribefolder,
.icon16x16.icon_subscribefolder_color{
    background-position: -44px -44px;
}

.icon16x16.icon_smartfolder{
    background-position: -4px -64px;
}
.icon16x16.icon_smartfolder_white{
    background-position: -24px -64px;
}
.active .icon16x16.icon_smartfolder,
.icon16x16.icon_smartfolder_color{
    background-position: -44px -64px;
}

.icon16x16.icon_star{
    background-position: -4px -84px;
}
.icon16x16.icon_star_white{
    background-position: -24px -84px;
}
.active .icon16x16.icon_star,
.icon16x16.icon_star_color{
    background-position: -44px -84px;
}


.icon16x16.icon_clock{
    background-position: -4px -104px;
}
.icon16x16.icon_clock_white{
    background-position: -24px -104px;
}
.active .icon16x16.icon_clock,
.icon16x16.icon_clock_color{
    background-position: -44px -104px;
}

.icon16x16.icon_trash{
    background-position: -4px -124px;
}
.icon16x16.icon_trash_white{
    background-position: -24px -124px;
}
.active .icon16x16.icon_trash,
.icon16x16.icon_trash_color{
    background-position: -44px -124px;
}

.icon16x16.icon_newfolder{
    background-position: -4px -144px;
}
.icon16x16.icon_newfolder_white{
    background-position: -24px -144px;
}


.icon16x16.icon_download{
    background-position: -4px -164px;
}
.icon16x16.icon_download_white{
    background-position: -24px -164px;
}


.icon16x16.icon_save{
    background-position: -4px -184px;
}
.icon16x16.icon_save_white{
    background-position: -24px -184px;
}


.icon16x16.icon_rename{
    background-position: -4px -204px;
}
.icon16x16.icon_rename_white{
    background-position: -24px -204px;
}


.icon16x16.icon_paste{
    background-position: -4px -224px;
}
.icon16x16.icon_paste_white{
    background-position: -24px -224px;
}


.icon16x16.icon_copy{
    background-position: -4px -244px;
}
.icon16x16.icon_copy_white{
    background-position: -24px -244px;
}


.icon16x16.icon_cut{
    background-position: -4px -264px;
}
.icon16x16.icon_cut_white{
    background-position: -24px -264px;
}


.icon16x16.icon_lock{
    background-position: -4px -284px;
}
.icon16x16.icon_lock_white{
    background-position: -24px -284px;
}

.icon16x16.icon_unlock{
    background-position: -4px -304px;
}
.icon16x16.icon_unlock_white{
    background-position: -24px -304px;
}

.icon16x16.icon_setting{
    background-position: -4px -324px;
}
.icon16x16.icon_setting_white{
    background-position: -24px -324px;
}

.icon16x16.icon_sync{
    background-position: -4px -344px;
}
.active .icon16x16.icon_sync,
.icon16x16.icon_sync_white{
    background-position: -24px -344px;
}

.icon16x16.icon_logout{
    background-position: -4px -364px;
}
.icon16x16.icon_logout_white{
    background-position: -24px -364px;
}

.icon16x16.icon_info{
    background-position: -4px -384px;
}
.active .icon16x16.icon_info,
.icon16x16.icon_info_white{
    background-position: -24px -384px;
}

.icon16x16.icon_computer{
    background-position: -4px -404px;
}
.active .icon16x16.icon_computer,
.icon16x16.icon_computer_white{
    background-position: -24px -404px;
}

.icon16x16.icon_network{
    background-position: -4px -424px;
}
.active .icon16x16.icon_network,
.icon16x16.icon_network_white{
    background-position: -24px -424px;
}

.icon16x16.icon_plane{
    background-position: -4px -444px;
}
.active .icon16x16.icon_plane,
.icon16x16.icon_plane_white{
    background-position: -24px -444px;
}
.icon16x16.icon_recover{
    background-position: -4px -464px;
}

.icon16x16.icon_recover_white{
    background-position: -24px -464px;
}

.icon16x16.icon_del{
    background-position: -4px -484px;
}
.icon16x16.icon_del_white{
    background-position: -24px -484px;
}


.icon16x16.icon_disable{
    background-position: -4px -504px;
}
.icon16x16.icon_disable_white{
    background-position: -24px -504px;
}

.icon16x16.icon_person{
    background-position: -4px -524px;
}
.active .icon16x16.icon_person,
.icon16x16.icon_person_white{
    background-position: -24px -524px;
}

.icon16x16.icon_people{
    background-position: -4px -544px;
}
.icon16x16.icon_people_white{
    background-position: -24px -544px;
}

.icon16x16.icon_search{
    background-position: -4px -564px;
}
.icon16x16.icon_search_white{
    background-position: -24px -564px;
}

.icon16x16.icon_listview{
    background-position: -4px -584px;
}
.icon16x16.icon_listview_white{
    background-position: -24px -584px;
}

.icon16x16.icon_thumbview{
    background-position: -4px -604px;
}
.icon16x16.icon_thumbview_white{
    background-position: -24px -604px;
}

.icon16x16.icon_upload{
    background-position: -4px -624px;
}
.icon16x16.icon_upload_white{
    background-position: -24px -624px;
}

.icon16x16.icon_downloadfrom{
    background-position: -4px -644px;
}
.icon16x16.icon_downloadfrom_white{
    background-position: -24px -644px;
}


.active .icon16x16.icon_down_white,
.icon16x16.icon_down{
    background-position: -4px -664px;
}
.icon16x16.icon_down_white{
    background-position: -24px -664px;
}
.active .icon16x16.icon_up_white,
.icon16x16.icon_up{
    background-position: -4px -684px;
}
.icon16x16.icon_up_white{
    background-position: -24px -684px;
}

.icon16x16.icon_play{
    background-position: -4px -704px;
}
.icon16x16.icon_play_white{
    background-position: -24px -704px;
}

.active .icon16x16.icon_syncing_white,
.icon16x16.icon_syncing{
    background-position: -4px -724px;
}
.icon16x16.icon_syncing_white{
    background-position: -24px -724px;
}

.icon16x16.icon_pause{
    background-position: -4px -744px;
}
.icon16x16.icon_pause_white{
    background-position: -24px -744px;
}

.icon16x16.icon_ban{
    background-position: -4px -764px;
}
.icon16x16.icon_ban_white{
    background-position: -24px -764px;
}

.icon16x16.icon_done{
    background-position: -4px -784px;
}
.icon16x16.icon_done_white{
    background-position: -24px -784px;
}

.icon16x16.icon_leftarrow{
    background-position: -4px -804px;
}
.icon16x16.icon_leftarrow_white{
    background-position: -24px -804px;
}

.icon16x16.icon_rightarrow{
    background-position: -4px -824px;
}
.icon16x16.icon_rightarrow_white{
    background-position: -24px -824px;
}

.icon16x16.icon_plus{
    background-position: -4px -824px;
}
.icon16x16.icon_plus_color{
    background-position: -44px -824px;
}

/*********文件图标 32*32*******/

/*其他文件*/
.icon_other {
    background-image: url(../images/icon/other32x32.png);
}

/*视频文件*/
.icon_movie {
    background-image: url(../images/icon/movie32x32.png);
}

/*声音文件*/
.icon_music {
    background-image: url(../images/icon/music32x32.png);
}

/*图片文件*/
.icon_image {
    background-image: url(../images/icon/image32x32.png);
}

/*文档文件*/
.icon_document {
    background-image: url(../images/icon/document32x32.png);
}

/*压缩文件*/
.icon_compress {
    background-image: url(../images/icon/compress32x32.png);
}

.icon_doc {
    background-image: url(../images/icon/word32x32.png);
}

.icon_xls {
    background-image: url(../images/icon/excel32x32.png);
}

.icon_ppt {
    background-image: url(../images/icon/ppt32x32.png);
}

.icon_pdf {
    background-image: url(../images/icon/pdf32x32.png);
}

/*可执行文件*/
.icon_execute {
    background-image: url(../images/icon/exe32x32.png);
}

/*文件夹*/
.icon_folder {
    background-image: url(../images/icon/folder32x32.png);
}

.icon_local_folder {
    background-image: url(../images/icon/local_folder32x32.png);
}

.icon_shared_folder {
    background-image: url(../images/icon/folder_share32x32.png);
}

.icon_private_folder {
    background-image: url(../images/icon/private_folder32x32.png);
}

/*通过border实现的箭头*/

.gk_up_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-bottom-color: #7f8999;
}

.gk_down_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-top-color: #7f8999;
}
.gk_left_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-left-color: #7f8999;
    border-right: 0;
}
.gk_right_arrow{
    display: inline-block;
    height: 0;
    width: 0;
    line-height: 0;
    border:4px solid transparent;
    border-right-color: #7f8999;
}

/*按钮*/
.btn-gk{
    padding: 3px 12px;
    border:1px solid #c2cbd3;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#dbdee1));
    box-shadow: inset 0 1px 1px rgba(255,255,255,1), 0 1px 1px rgba(255,255,255,1);
    font-family: "hiragino sans gb","Helvetica Neue","Helvetica","Arial","宋体", "simsun","sans-serif";
    font-size: 13px;
    color:#738295;
}
.btn-big{
    position: relative;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,.2)),to(rgba(255,255,255,0)));
    font-size: 19px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.9);
}

.btn-blue{
    background-color: #448DE8;
    border-color: #597FAE;
    color: #fff;
    font-weight: normal;
    text-shadow: -1px -1px 0 rgba(0,0,0,.9);
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus{
    color: #fff;
}
.btn-green{
    background-color: #52AE75;
    border-color: #54AD76;
    color: #fff;
    font-weight: normal;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus{
    color: #fff;
}
.input_tip_list{
    position: absolute;
    background: #fff;
    max-width: 120px;
    max-height: 200px;
    overflow: auto;
    top:-9999px;
    left:0;
    /*display: block;*/
}
.input_tip_list.dropdown-menu > li >a.active{
    color: white;
    text-decoration: none;
    background-color: #428BCA;
}
.ui-match {
    background: yellow;
}

/**日期选择组件**/
.input-datepicker{
    border:1px solid #ccc;
    display: inline-block;
    width: auto;
    height: 34px;
    background: #fff;
    padding: 6px;
}
.input-datepicker i.calendar{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url(../images/icon/icon16x16.png) no-repeat -4px -4px;

}
.input-datepicker input{
    border:0 none;
    height: 100%;
    padding: 0;
    border-radius: 0;
    font-size: 13px;
}
/**重写bootstarp的datepicker样式**/

.gk_datepicker{
    /*max-width: 240px;*/
    padding: 5px;
    border:1px solid #E5E5E5;
    box-shadow: none;
    border-radius: 0;
}
.gk_datepicker *{
   font-size: 12px;
}
.gk_datepicker td{
    border: 1px solid #E5E5E5;
}
.gk_datepicker table .btn{
    border:0 none;
    padding: 4px 7px;
}
.gk_datepicker table .btn{
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.gk_datepicker table .btn.btn-info,
.gk_datepicker table .btn:hover,
.gk_datepicker table .btn:active{
    background:#eaeaea;
    color:#333;
}
.dropdown-menu a{
    font-size: 13px;
}

/*自定义关闭按钮样式*/
button.close_window{
    position: absolute;
    z-index: 9999;
    display: block;
    width: 16px;
    height: 16px;
    background: none;
    border:0 none;
    top:2px;
    right: 3px;
}
.empty{
    text-align: center;
    padding-top: 60px;
}

.item{
    background-color: transparent;
    -webkit-transition: background-color linear 0.1s;
}
.item:nth-child(even) {
    background-color: #F7F7F7;
}
.item:hover{
    background-color:#E1E3E7;
}

.item.selected {
    background-color:#7F8999
}