/* 文件列表样式 */
/************* news **************/
.news-wrapper{

}
.news-container{
    top: 0;
    right: 0;
    left: 0;
    min-height: 370px;
    position:relative;
    color: #949494;
    background: #F8F9FB;
    border-left:1px solid #AEBCD4;
    border-bottom:1px solid #AEBCD4;
    border-right:1px solid #AEBCD4;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1),
    3px 0 10px rgba(0, 0, 0, 0.1),
    -3px 0 10px rgba(0, 0, 0, 0.1),
    inset 0 3px 10px rgba(0,0,0,0.1);
    padding-bottom: 10px;
}
/* news-header */
.news-header{
    top:0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}
.news-header h1{
    font-size:20px;
    line-height: 35px;
    font-weight: bold;
}
/* news-content */
.news-content-scroll{
    left: 0;
    right: 0;
    overflow-y: auto;
}
.news-content{
    width: 80%;
    left: 0;
    right: 0;
    top:35px;
    position: absolute;
    margin:0 auto;
}
.news-display h3{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
.news-display h3,.news-display ol{
    margin-left:30px;
}
.news-display{
    line-height: 25px;
    font-size: 13px;
}
.news-time{
    float: left;
    line-height: 25px;
    padding-right: 15px;
}
.news-title{
    float: left;
    line-height: 25px;
}
.news-line{
    border-bottom:1px solid #AEBCD4;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* news-footer */
.news-packup{
    position: absolute;
    cursor:pointer;
    bottom: 0;
    left: 40%;
    right: 0;
    top:370px;
}

/******* Personal Information ********/
#personal-wrapper{
    background: #FCFCFC;
}
/* personal-information */
.personal-img{
    top:0;
    right: 0;
    left: 0;
    position: relative;
    height: 112px;
}
.personal-img img{
    width: 100%;
    height: 112px;
}
#personal-information{
    top:0;
    right: 0;
    left: 0;
    position:absolute;
    height: 112px;

}
#personal-information .personal-picture{
    width:62px;
    height:62px;
    border-radius:31px 31px 31px 31px;
    margin-top: 18px;
    margin-left: 40px;
    overflow: hidden;
}
#personal-information .personal-picture a img{
    width:62px;
    height: 62px;
}
#personal-information .personal-message{
    margin-left: 15px;
    color: #FFF;
    padding-top: 15px;
}
.personal-username span{
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
}
.personal-email span{
    line-height:25px;
}
.personal-contact .personal-contact-phone{
    padding-right: 30px;
    padding-left: 2px;
}
.personal-contact .personal-contact-stored{
    padding-left: 2px;
}
.personal-contact li span{
    font-size: 14px;
    line-height: 25px;
}
/* personal-function */
.personal-function{
    width: 145px;
    height:60px;
    margin-top: 15px;
}
.personal-function-management a ,
.personal-function-software a ,
.personal-function-cancellation a{
    line-height: 24px;
    font-size: 13px;
    color: #FFF;
    padding-left: 22px;
    cursor: pointer;
}
/* personal-title */
#personal-title{
    top:112px;
    right: 0;
    left: 0;
    position: absolute;
    height:55px;
}
#personal-title .personal-myteam{
    margin: 22px 100px 0 20px;
}
#personal-title .personal-myteam span{
    font-size: 24px;
    color: #43576F;
    line-height: 24px;
}
.personal-newteam{
    padding:25px 50px 10px 0;
}
.personal-newteam a{
    cursor: pointer;
}
.perdisplayNone{
    display:none;
}
.perdisplayBlock{
    display: block;
}
#personal-title .personal-newteam a{
    line-height: 20px;
    color: #666B6F;
}
/* personal-mangement */

.personal-management-admin{
    right: 10px;
    left: 10px;
    top: 167px;
    bottom: 40px;
    position: absolute;
    margin: 5px 0;
    border: 1px solid  #BEBFC4;
    padding: 10px 0 0 30px;
    overflow-y: auto;
}
.personal-management-admin-replace{
    margin: 5px 0;
    border: 0;
    padding: 10px 0 0 30px;
    overflow-y: auto;
}
.personal-management-team{
    width:185px;
    height:100px;
    float: left;
    border-radius: 6px 6px 6px 6px;
    background: #F7F8FA;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    z-index: 2;
    border:1px solid #BEBFC4;
    margin-right: 15px;
    margin-bottom: 10px;
}

.personal-team-picture{
    width:50px;
    height:50px;
    border-radius:25px 25px 25px 25px;
    margin-top: 15px;
    margin-left: 10px;
    overflow: hidden;
}
.personal-team-picture a img{
    width: 50px;
    height:50px;
}
.personal-management-information{
    margin-left: 15px;
    margin-top: 20px;
}
.personal-management-information .personal-team-name span{
    font-size: 16px;
    font-weight: bold;
    color:#787879;
}
.personal-management-information .personal-team-competence span{
    font-weight: bold;
    color: #787879;
}
.personal-team-management-show{
    width: 185px;
    height: 24px;
    margin-top: 76px;
    background:#8B9EBF;
    display: none;
    border-radius: 0 0 3px 3px;
}
.personal-management-team:hover .personal-team-management-show{
    display: block;
}
.personal-float-management{
    padding-left: 25px;
}
.personal-float-quit{
    padding-right: 15px;
}
.personal-float-management a,
.personal-float-quit a{
    line-height: 24px;
    color:#F7FFFF;
}
.personal-management-add{
    border:1px solid #CEBB9B;
}
.personal-team-management-add{
    background:  #CEBB9B;
}
/* personal-footer */
#personal-footer{
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #B7BBC4;
    background: #E8EBF0;
    height: 40px;
}
.personal-close{
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    border-bottom: 1px solid #FEFFFF;
    text-align: center;
}
.personal-close-button{
    width: 65px;
    height: 25px;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    background:#E8E9EB;
    border: 1px solid #C5C8CD;
    cursor: pointer;
}

/**
*   site.html
**/

.site-sidebar{
    width:150px;
    border-right:1px solid #AEBCD4;

    background:#F1F4F7 ;
    top:0;
    left:0;
    bottom:35px;
    position:absolute;
}
.site-sidebar ul{
    padding-top: 20px;
}
.site-sidebar ul li{
    padding-top:5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;
    color: #606D81;

}
.site-sidebar ul li .universalbackground{
    background: url(../images/icon.png) no-repeat -20px -80px;
}
.site-sidebar ul li .devicebackground{
    background: url(../images/icon.png) no-repeat -20px -100px;
}
.site-sidebar ul li .synchronousbackground{
    background: url(../images/icon.png) no-repeat -20px -120px;
}
.site-sidebar ul li .networklbackground{
    background: url(../images/icon.png) no-repeat -20px -140px;
}
.site-sidebar ul li .dvancedbackground{
    background: url(../images/icon.png) no-repeat -20px -160px;
}
.site-sidebar ul .site-sidebar-color .universalbackground{
    background: url(../images/icon.png) no-repeat 0 -80px;
}
.site-sidebar ul .site-sidebar-color .devicebackground{
    background: url(../images/icon.png) no-repeat 0 -100px;
}
.site-sidebar ul .site-sidebar-color .synchronousbackground{
    background: url(../images/icon.png) no-repeat 0 -120px;
}
.site-sidebar ul .site-sidebar-color .networklbackground{
    background: url(../images/icon.png) no-repeat 0 -140px;
}
.site-sidebar ul .site-sidebar-color .dvancedbackground{
    background: url(../images/icon.png) no-repeat 0 -160px;
}
.site-sidebar ul li h3{
    line-height: 20px;
    font-size: 15px;
    padding-left:20px;
}
.site-sidebar ul .site-sidebar-color{
    background: #4D8BD8;
    color:#FFF;
}
.site-content{
    top:0;
    left:150px;
    bottom:35px;
    right:0;
    position:absolute;
}
.site-content-universal{
    padding-top: 25px;
    padding-left: 30px;
    color:#5E5E5E ;
}
.site-content-universal ul li{
    padding-bottom: 20px;
    font-size: 15px;
}
.site-content-universal ul li select{
    width:120px;
}
.site-content-synchronous{
    margin: 25px 25px 0 35px;
    top:0;
    right:0;
    left:0;
    bottom:0;
    font-size: 13px;
    color: #1E1E1E;
    position: absolute;
}
.sitesynchronousmanage{
    font-size: 14px;
    margin-bottom: 5px;
}
.sitesynchronousban{
    margin-right:5px;
    vertical-align: middle;
}
.site-footer{
    bottom:0;
    right: 0;
    left: 0;
    position:absolute;
    height: 35px;
    background: #E5E9EF;
    border-top:2px solid #AEBCD4;
}
.site-content-agent{
    margin-right: 10px;
    width:82px;
    height:24px;
    line-height: 24px;
    border:1px solid #C2CBD3;
    background:#E9EAEC;
    color:#738295;
    border-radius: 3px 3px 3px 3px;
    cursor:pointer;
}
.site-content-synchronous-menu{
    border-top:1px solid #C2CBD3;
    border-right:1px solid #C2CBD3;
    border-left:1px solid #C2CBD3;
    line-height: 30px;
    background:#F2F2F2;
}
.site-content-synchronous-file{
    width:25%;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color: #868686;
}
.site-content-synchronous-sync{
    width:50%;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color: #868686;
}
.site-synchronous-sync{
    width:50%;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color:#868686;
}
.site-synchronous-file{
    width:25%;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color:#868686;
}
.site-content-device-file{
    width:22%;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color: #868686;
}
.site-content-device-date{
    width:34%;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color: #868686;
}
.site-device-date{
    width:34%;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color: #868686;
    padding:1px;
}
.site-device-file{
    width:22%;
    padding:1px;
    text-align: center;
    line-height: 30px;
    font: 15px;
    color: #868686;
}
.sync-color{
    color:rgb(97,133,188);
}
.site-content-form{
    display: block;
    height: 65%;
    border:1px solid #C2CBD3;
    margin-bottom: 10px;
    overflow: auto;
}
.site-content-form tr td{
   width:25%
}
.site-content-network,
.site-content-advanced{
    padding-top: 25px;
    padding-left: 30px;
    color:#5E5E5E;
}
.site-content-filelocation{
    margin-bottom: 3px;
    margin-top: 5px;
}
.site-content-mobile{
    width:82px;
    height:24px;
    line-height: 24px;
    border:1px solid #C2CBD3;
    background:#E9EAEC;
    color:#738295;
    border-radius: 3px 3px 3px 3px;
    cursor:pointer;
    margin-left: 15px;
}
.site-content-remove{
    width:82px;
    height:24px;
    line-height: 24px;
    border:1px solid #C2CBD3;
    background:#E9EAEC;
    color:#738295;
    border-radius: 3px 3px 3px 3px;
    cursor:pointer;
    margin-top: 30px;
    margin-right: 10px;
}
.site-content-network ul li{
    padding-bottom: 20px;
    font-size: 15px;
    color: #5E5E5E;
}
.sitenetworkagentproxy{
    margin-top: 5px;
}
.sitenetworkagentproxy .sitenetworkagent{
    width:85px;
    height:25px;
    line-height: 25px;
    border:1px solid #ABADB3;
    color:#000;
    background: buttonface;
    cursor:pointer;
    text-align: center;
    margin-right: 10px;
    font-size: 13px;
}

.sitenetworkagent:hover{
    background: #E7F2FC;
    border:1px solid #7EB4EA;
}
.siteadvancedseat{
    margin-bottom: 5px;
}
.siteadvancedseat span{
    font-size: 14px;
}
.siteadvancepath{
    width:270px;
    height: 25px;
    color:rgb(85,85,136);
    padding: 1px 0px 1px 0px;
    border:1px solid #ABADB3;
}
.siteadvancepath:focus{
    border:1px solid #C7A159;
}
.siteadvancepathdlg{
    width:60px;
    line-height: 25px;
    border:1px solid #ABADB3;
    color:#000;
    background: buttonface;
    cursor:pointer;
    margin-left: 15px;
    font-size: 13px;
}
.clercache{
    width:75px;
    line-height: 25px;
    border:1px solid #ABADB3;
    color:#000;
    background:buttonface;
    cursor:pointer;
    margin-right: 5px;
    font-size: 13px;
}
.clercache:hover{
    background: #E7F2FC;
    border:1px solid #7EB4EA;
}
.siteadvancepathdlg:hover{
    background: #E7F2FC;
    border:1px solid #7EB4EA;
}
.siteadvancerestart{
    color:#A1A1A1;
    margin-top: 3px;
}
.siteadvancechche{
    margin-top: 30px;
}
.siteadvancechche span{
    color: #A1A1A1;
}
.sitedeviceenroll{
    font-size: 14px;
    margin-bottom: 5px;
}
.sitesynchronousregain{
    color:rgb(97,133,188);
}
.sitesynchronousremove{
    color:rgb(97,133,188);
    display: none;
}
.sitesynchronousdisplay{
    display:none;
}
.syncline{
    color:#BAB1C4;
}
.sitesynchronourdisplay{
    display: '';
}
.sitesynchronourdisplayblock{
    display: block;
}
.site-footer-determine-close{
    float: right;
    margin-top: 5px;
}
.site-footer-close{
    width:65px;
    line-height: 25px;
    border:1px solid #C2CBD3;
    background:#E9EAEC;
    color:#738295;
    border-radius: 3px 3px 3px 3px;
    cursor:pointer;
    margin-right: 10px;
}
.site-footer-save{
    width:65px;
    line-height: 25px;
    border:1px solid #C2CBD3;
    color:#FFF;
    background: #4883CB;
    border-radius: 3px 3px 3px 3px;
    cursor:pointer;
    margin-right: 5px;
}
/**
*   site.html
*   footer
**/
/**
*queue.html
*/
.queue-sildbar{
    width:150px;
    border-right: 1px solid#BBBCC1;
    position: absolute;
    top:0;
    bottom: 35px;
    left:0;
    background:#F1F1F2;
}
.queue-sildbar-ul{
    padding-top: 15px;
}
.queue-sildbar-ul li{
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor:pointer ;
}
.queue-sildbar-ul li a{
    padding-left: 30px;
}
.blue {
    background:#8EB7F1;
}
.none {
    background: none;
}
.queue-content{
   position: absolute;
   top:0;
   left:150px;
   right: 0;
   bottom:0;
}
.queue-con-upload,
.queue-con-download{
    font-size: 14px;
}
.queue-con-upload .queue-con-top,
.queue-con-download .queue-con-top{
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: #F1F1F1;
    border-bottom:1px solid #CFCFCF;
}
.queue-con-top-title{
    line-height: 30px;
    width: 30%;
    margin-left: 10%;
    line-height: 25px;
}
.queue-con-up{
    top:30px;
    left:0;
    right: 0;
}
.queue-con-up li{
    height: 45px;
    position: relative;
    margin-top: 1px;
}
.queue-con-font{
    position: absolute;
    left:0;
    right: 0;
    height: 45px;
    top:0;
    line-height: 45px;
}
.queue-con-back{
    height: 45px;
    position:absolute;
    top:0;
    width: 10%;
}
.queue-con-file{
    width: 45%;
    margin-left: 5%;
}
.queue-con-use{
    width: 10%;
}
.queue-con-speed{
    width: 10%;
}
.queue-con-time{
    width: 30%;
}
.queue-con-synch{
    font-size: 14px;
}
.queue-con-synch .queue-con-synch-top{
    height: 30px;
    background: #F1F1F1;
    border-bottom:1px solid #CFCFCF;
}
.queue-con-top-synch-title{
    width:30%;
    margin-left: 10%;
    line-height: 25px;
}
.queue-con-top-synch-status{
    width: 30%;
}
.queue-con-top-synch-time{
    width: 30%;
}
.queue-con-synch-up{
    top:30px;
    left:0;
    right: 0;
}
.queue-con-synch-up li{
    height: 45px;
    position: relative;
    margin-top: 1px;
}
.queue-con-synch-font{
    position: absolute;
    left:0;
    right: 0;
    height: 45px;
    top:0;
    line-height: 45px;
}
.queue-con-synch-file{
    width: 33%;
    margin-left: 7%;
}
.queue-con-synch-status{
    width: 30%;
}
.queue-con-synch-time{
    width: 30%;
}
.queue-footer{
    height: 35px;
    border-top:2px solid #B6BCCA;
    bottom: 0;
    position: absolute;
    line-height: 30px;
    font-size: 14px;
    background: #E8EBF0;
    left:0;
    right: 0;
}
.queue-footer-UploadDownload{
    margin-left: 10px;
}
.queue-footer-Upload,
.queue-footer-Download{
    display: inline;
}
.queue-footer-Upload .uploadimage{
    background: url('../images/icon.png') no-repeat 0 -280px;
}
.queue-footer-Download .downloadimage{
    background: url('../images/icon.png') no-repeat 0 -280px;
}
.queue-footer-UploadDownload span{
    padding-right:10px;
    padding-left:6px;
}
.queue-footer-Close{
    width:65px;
    height:25px;
    line-height: 25px;
    border:1px solid #325E94;
    color:#FFF;
    background: #467DC2;
    border-radius: 3px 3px 3px 3px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}


