
.form-control{
    width: auto;
    display: inline-block;
}


.main{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}
aside{
    position: absolute;
    top:0;
    bottom: 0;
    width: 158px;
    border-right: 1px solid #CDCED0;
    background: #2A2E33;
    color:#fff;
    padding-top: 10px;
}
aside ul li{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-left: 4px solid transparent;
    margin-top: 8px;
}
aside ul li i{
    margin-left: 8px;
    margin-right: 10px;
}
aside ul li:hover{
   background-color: #393D42;
}
aside ul li.active{
    border-left-color: #448DE8;
    background: #1F2327;
    font-weight: bold;
}

aside ul li.active i.icon_info{
    background-position: -524px -24px
}

aside ul li.active i.icon_person{
    background-position: -484px -24px;
}

aside ul li.active i.icon_computer{
    background-position: -544px -24px;
}

aside ul li.active i.icon_sync{
    background-position: -564px -24px;
}

aside ul li.active i.icon_network{
    background-position: -584px -24px;
}

aside ul li.active i.icon_airplane{
    background-position: -604px -24px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#FBFBFB),to(#E3E4E5));
    text-align: right;
    border-top:1px solid #CDCED0;
}
footer .btn{
    vertical-align: middle;
    padding: 3px 13px;
    margin: 8px 10px 0 0;
}
.content{
    position: absolute;
    top:0;
    bottom: 0;
    left:158px;
    right: 0;
}
.content .section_head{
    height: 35px;
    border-bottom: 1px solid #CDCED0;
    background: #F1F1F2;
    padding:0 10px;
    position: relative;
}
.content .section_head .global_opt_wrapper{
    position: absolute;
    right: 10px;
    top:5px;
}
.content .section_head .global_opt_wrapper input[type="checkbox"]{
    height: 23px;
    vertical-align: middle;
}
.content .section_head .global_opt_wrapper button{
    margin-right: 5px;
}
.content .section_head h2{
    line-height: 35px;
    font-size: 18px;
}
.content section{
    font-size: 14px;
    position: absolute;
    top:35px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.content section .form_layer{
    margin:15px 0;
}
.content div label{
    font-weight: normal;
}
.content  .advance section,
.content  .network section,
.content  .general section{
    padding: 30px;
}

.list_wrapper .list .item > div,
.list_wrapper .list_header > div{
    float: left;
    padding: 0 5px;
}
\
.list_wrapper .list_header,
.list_wrapper .list .item{
    overflow: hidden;
    zoom:1;
    border-bottom:1px solid #EDEDED;
}

.list .item > div:nth-child(1),
.list_header > div:nth-child(1){
    width: 35%;
    padding-left: 30px;
}
.list .item > div:nth-child(2),
.list_header > div:nth-child(2){
    width: 25%;
}
.list .item > div:nth-child(3),
.list_wrapper .list_header > div:nth-child(3){
    width: 25%;
}
.list .item > div:nth-child(4),
.list_wrapper .list_header > div:nth-child(4){
    width: 15%;
}

.device .list .item > div:nth-child(4){
width: 112px;
}

.list .item .opts .btn-flat{
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    vertical-align: top;
    display: none;
}


.list .item:hover .opts .btn-flat{
    display: inline-block;
}
.sync .list .item .opts .btn-flat{
    width: 68px;
}
.content .list_header div{
    font-weight: normal;
    line-height: 36px;
}
.content .list_body div{
    line-height: 30px;
    font-size: 13px;
}
.content .list_wrapper div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .list{
    color: #7F8999;
    font-size:13px ;
}

.content .list .item{
    line-height: 34px;
    box-shadow: inset 0 1px 0 #fff;
}
.content .list .dateline{
    color:#ACB4BF;
}
.content .warning{
    color:#E65353
}
.content .tip{
    color: #ACB4BF;
}

.list .item .file_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: -2px 8px 0 0;
    position: relative;
}
.sync .list .item > div:nth-child(1),
.sync .list_header > div:nth-child(1){
    width:50%;
    padding-left: 30px;
}
.sync .list .item > div:nth-child(2),
.sync .list_header > div:nth-child(2){
    width: 35%;
}
.sync .list .item > div:nth-child(3),
.sync .list_wrapper .list_header > div:nth-child(3){
    width: 68px;
    padding: 0;
}


.sync .list .item .sync_state{
    color:#ACB4BF;
}
.sync .list .item .icon_syncing{
    background-position: -84px -64px;
}

.sync .list .item .icon_sync_pause{
    background-position: -104px -64px;
}

.sync .list .item .icon_sync_done{
    background-position: -84px -64px;
}
.account img{
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin: 0 5px 0 0;
}
.account section{
    padding: 15px;
}

.account section .member_name{
    font-size: 26px;
}
.account section ul{
    margin-left: 75px;
    color: #7F8999;
    font-size: 13px;
}
.account section ul li{
    margin: 15px 0;
}
.account section ul li .icon16x16{
    margin-right: 5px;
}
.advance .form_layer > div{
    margin-top: 5px;
}
.advance input[type="text"]{
    width: 50%;
}
/*传输队列的样式*/

aside ul li.active i.icon_download_white{
    background-position: -384px -4px;
}

aside ul li.active i.icon_upload_white{
    background-position: -404px -4px;
}

aside ul li.active i.icon_sync2_white{
    background-position: -424px -4px;
}
.transfer_page .content section{
  top:0;
}

.transfer_page .list .item > div > *{
    display: inline-block;
}
.transfer_page .list .item > div .progress{
    width: 62%;
    margin: -2px 0 0 0;
    height: 13px;
    vertical-align:middle;
}

.transfer_page .list .item > div:nth-child(1),
 .transfer_page .list_header > div:nth-child(1){
     width: 40%;
}
.transfer_page .list_header > div:nth-child(1){
    padding-left: 34px;
}
.transfer_page .list .item > div:nth-child(2),
.transfer_page .list_header > div:nth-child(2){
    width: 35%;
}
.transfer_page .list .item > div:nth-child(3),
.transfer_page .list_wrapper .list_header > div:nth-child(3){
    width: 15%;

}
.transfer_page .list .item > div:nth-child(4),
.transfer_page .list_wrapper .list_header > div:nth-child(4){
    width: 10%;
}

.transfer_page .list_header{
    background:#F1F1F2;
    border-bottom: 1px solid #CDCED0;
    font-size: 12px;
}
.transfer_page .content .list_header div{
    line-height: 34px;
}
.transfer_page .content .list .item{
    line-height: 40px;
    border-bottom: 0;
}
.transfer_page .main{
    bottom:45px;
}
.transfer_page footer .f_l{
    font-size: 13px;
    margin: 13px 0 13px 13px;
}
.transfer_page footer .f_l .icon16x16{
    margin-right: 3px;
}
.transfer_page .list .item > div .filesize{
    width: 32%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transfer_page .list .item > div .status_3{
    color:#52AE75;
}
.transfer_page .list .item > div .status_2{
    color:#F3A427;
}

.transfer_page .list .item .filename{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-right: 42px;
}

