body{
    background: #525961;
    color: #fff;
    cursor: default !important;
}
header{
   height: 40px;
    background: #24272b;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
}
header i.icon_logo{
    margin-top: 4px;
}
header i.icon_logo:hover{
    background-position: -40px -328px;
}
ul.quickmenu{
    height: 60px;
    background: #434B4D;
    position: absolute;
    left: 0;
    right: 0;
    top:40px;
}

ul.quickmenu li{
    width: 33.33%;
    height: 100%;
    text-align: center;
    float: left;
    font-size: 13px;
    color: #7F8999;
}
ul.quickmenu li:hover{
   color: #448DE8;
}
ul.quickmenu li i,
ul.quickmenu li span{
    display: block;

}
ul.quickmenu li i{
    margin: 4px auto 0;
}
ul.quickmenu li.chat:hover i{
    background-position: -76px -580px;
}
ul.quickmenu li.message:hover i{
    background-position: -76px -616px;
}
ul.quickmenu li.nearby:hover i{
    background-position: -76px -4px;
}
ul.quickmenu li.trasfer:hover i{
    background-position: -76px -256px;
}
ul.quickmenu li.setting:hover i{
    background-position: -76px -148px;
}
ul.quickmenu li span{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.message_wrapper{
    position: absolute;
    top:100px;
    left:0;
    right: 0;
    bottom: 0;
}
.message_wrapper .message_tip{
    height: 29px;
    line-height: 29px;
    background: #EBECED;
    border-top:1px solid #E2E2E2;
    border-bottom:1px solid #E2E2E2;
    text-align: center;
    font-size: 15px;

}
ul.message_list{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
ul.message_list li{
    margin:14px 0 0 0;
    height: 30px;
    line-height: 18px;
    display: table;
    width: 100%;
}

ul.message_list .dateline{
    color:#ACB4BF;
    height: 16px;
    line-height: 16px;
    display: table-cell;
    width: 28%;
    padding: 0 8px;
}
ul.message_list .photo_wrapper{
    display: table-cell;
    width: 28%;
    padding: 0 5px;
    vertical-align: middle;
}
ul.message_list .photo_wrapper img{
    margin-left: 2px;
}
ul.message_list .msg{
    word-break: break-all;
    word-wrap: break-word;
    display: table-cell;
    vertical-align: middle;
    width: 44%;
}

header .logout{
    position: absolute;
    right: 15px;
    width: 16px;
    height: 16px;
    display: block;
    top:12px;
}
header .logout i{
    display: block;
    background: url(../images/icon/icon16x16.png) no-repeat -64px -64px;
    height: 100%;
}