header{
    top:auto;
    bottom: 0;
    box-shadow: inset 0 1px 0 #fff;
}
ul.quickmenu{
    top:auto;
    bottom: 40px;
    border-top:1px solid #CDCED0;
}
.message_wrapper{
    top:0;
    bottom: 100px;
}