/* app css stylesheet */
body{
    background: #fff;
    color:#5f6c81;
}
header{
    height: 50px;
    border-bottom: 1px solid #aebcd4;
    background: #ecf0f5;
}
footer{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    height:42px;
    border-top: 1px solid #aebcd4;
    background: #ecf0f5;
}
.main{
    position:absolute;
    top:51px;
    left:0;
    right:0;
    bottom:43px;
}
.left_sidebar,
.right_sidebar{
    position: absolute;
    top:0;
    bottom:0;
    width: 200px;
    background: #ecf0f5;
}
.left_sidebar{
    left:0;
    border-right: 1px solid #aebcd4;
}
.right_sidebar{
    right:0;
    border-left: 1px solid #aebcd4;
}
.main .content{
    position: absolute;
    top:0;
    bottom:0;
    left:201px;
    right: 201px;
}