/* css 通用组件样式 */

/*********文件图标 32*32*******/
/*其他文件*/
.icon_other{
    background-image: url(../img/icon/other32x32.png);
}
/*视频文件*/
.icon_movie{
    background-image:url(../img/icon/movie32x32.png);
}

/*声音文件*/
.icon_music{
    background-image:url(../img/icon/music32x32.png);
}

/*图片文件*/
.icon_image{
    background-image:url(../img/icon/image32x32.png);
}
/*文档文件*/
.icon_document{
    background-image:url(../img/icon/document32x32.png);
}

/*压缩文件*/
.icon_compress{
    background-image:url(../img/icon/compress32x32.png);
}

/*可执行文件*/
.icon_execute{
    background-image:url(../img/icon/exe32x32.png);
}

/*文件夹*/
.icon_folder{
    background-image:url(../img/icon/folder2_32x32.png);
}
.icon_local_folder{
    background-image:url(../img/icon/local_folder32x32.png);
}

.icon_shared_folder{
    background-image:url(../img/icon/folder_share_new32x32.png);
}

.icon_private_folder{
    background-image:url(../img/icon/private_folder32x32.png);
}