/* 文件列表样式 */

/* news */
#news-wrapper{
    width:890px;
    height:520px;
    margin:0 auto;
}
.news-wrapper-slide{
    background: #F8F9FB;
    margin-top: 100px;
    border:1px solid #AEBCD4;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1),
        3px 0 10px rgba(0, 0, 0, 0.1),
        -3px 0 10px rgba(0, 0, 0, 0.1),
        inset 0 3px 10px rgba(0,0,0,0.1);
}
#news-header,#news-content{
    width:625px;
    margin:0 auto;
}
#news-header{
    border-bottom:1px solid #AEBCD4;
    padding: 20px 0 10px;
}
#news-header h1{
    color:#8A929C;
    font-size:25px;
    line-height: 20px;
}
#news-header #news-tip{
    width:368px;
    height:18px;
    border:1px solid #14FF4E;
    margin:0 auto;
    text-align: center;
}
#news-header #news-tip label{
    color:#B26600;
}
.news-content-scroll{
    overflow-y: auto;
    height: 415px;
}
#news-footer{
    height:35px;
    border-top:1px solid #AEBCD4;
    text-align: center;
}
#news-footer img{
    cursor: pointer;
}

/*charge*/

.news-charge .ng-enter {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    background:red;
}


.news-charge .ng-enter.ng-enter-active {
    background:blue;
}

/* site */
.site-wrapper-silde{


}