/* 文件列表样式 */

/* news */
#news-wrapper{
    width:890px;
    height:520px;
    margin:0 auto;
    color: #949494;
}
.news-wrapper-slide{
    background: #F8F9FB;
    margin-top: 100px;
    border:1px solid #AEBCD4;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1),
        3px 0 10px rgba(0, 0, 0, 0.1),
        -3px 0 10px rgba(0, 0, 0, 0.1),
        inset 0 3px 10px rgba(0,0,0,0.1);
}
#news-header,#news-content{
    width:625px;
    margin:0 auto;
}
#news-header{
    border-bottom:1px solid #AEBCD4;
    padding: 20px 0 10px;
    margin-bottom: 5px;
}
#news-header h1{
    font-size:25px;
    line-height: 20px;
}
#news-header #news-tip{
    width:368px;
    height:18px;
    border:1px solid #14FF4E;
    margin:0 auto;
    text-align: center;
}
#news-header #news-tip label{
    color:#B26600;
}
.news-content-scroll{
    overflow-y: auto;
    height: 410px;
}
#news-display h3{
    font-weight: bold;
}
#news-display h3,#news-display ol{
    margin-left:30px;
}
#news-display{
    line-height: 30px;
}
.news-time ,.news-title{
    float: left;
    line-height: 30px;
}
.news-time{
    padding-right: 15px;
}
.news-line{
    border-bottom:1px solid #AEBCD4;
    margin-top: 10px;
    margin-bottom: 10px;
}
#news-footer{
    height:35px;
    border-top:1px solid #AEBCD4;
    text-align: center;
}
#news-footer img{
    cursor: pointer;
}

/*charge*/

.news-charge .ng-hide-add,
.news-charge .ng-hide-remove {
    -webkit-transition:all linear 1s;
    -moz-transition:all linear 1s;
    -o-transition:all linear 1s;
    transition:all linear 1s;
    display:block!important;
}

.news-charge .ng-hide-add.ng-hide-add-active,
.news-charge .ng-hide-remove {
    opacity:0;
}
.news-charge .ng-hide-add,
.news-charge .ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

/* site */
.site-wrapper-silde{


}