<!DOCTYPE html>
<html ng-app = "myApp">
<head>
    <title>news</title>
    <meta http-equiv = "content-type" content="text/html;charset = utf-8" />
    <link rel = "stylesheet" href = "../css/file.css" type = "text/css" />
    <link rel = "stylesheet" href = "../css/base.css" type = "text/css" />
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular/angular-animate.js"></script>

    <script>
        var app = angular.module('myApp', ['ngAnimate']);
    </script>
</head>
<body  ng-init="isHidden=false">
    <div id = "news-wrapper" class = "news-wrapper-slide news-charge" ng-hide="isHidden" >
        <div id = "news-header">
            <h1>
                消息
            </h1>
            <div id = "news-tip">
                <label>
                    你有x条新消息，点击查看
                </label>
            </div>
        </div>
        <div class = "news-content-scroll scrollbar">
             <div id = "news-content">
                <div id = "news-display">
                    <h3 class = "news-day">今天 , 10-07</h3>



                    <ol class = "news-day-display">
                        <li class = "news-entry">
                            <div class = "news-entry-container">
                                <div class = "news-time">13:45</div>
                                <div class = "news-title">
                                    <a href = "#" title = "杨飞在常用图标下新增了16-Free-Flat-Icons...tyle-Vol1.psd等4个文件/文件夹">杨飞在常用图标下新增了16-Free-Flat-Icons...tyle-Vol1.psd等4个文件/文件夹</a>
                                </div>
                            </div>
                        </li>
                    </ol>



                    <hr />
                    <h3 class = "day">2013-10-06</h3>
                    <ol class = "day-results">
                        <li class = "entry"> </li>
                    </ol>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                    <div >fa </div>
                </div>
            </div>
        </div>
        <div id = "news-footer">
            <img src = "../img/down-up.jpg" alt = "charge" ng-click="isHidden=!isHidden" />
        </div>
    </div>



</body>
</html>