<div class = "personal-management-team personal-management-add" ng-show = "haveNoTeam == 'haveTeam' ">
    <div class = "personal-team-picture f_l">
        <a href = "javascript:;" title = "teampicture">
            <img src = {{createTeam.org_logo}} alt = "teampicture" />
        </a>
    </div>
    <ul class = "personal-management-information f_l">
        <li class = "personal-team-name">
            <span title = "{{createTeam.org_name}}">{{createTeam.org_name}}</span>
        </li>
        <li class = "personal-team-competence">
            <span  title = "{{createTeam.type}}">{{createTeam.type}}</span>
        </li>
    </ul>
    <ul class="personal-team-management-show personal-team-management-add c_f_after">
        <li class = "personal-float-management f_l">
            <a href = "javascript:void(0);"  ng-click = "perjoin('{{createTeam.org_id}}','{{createTeam.code}}')" title = "{{createTeam.join}}">
                {{createTeam.join}}
            </a>
        </li>
        <li class = "personal-float-quit f_r">
            <a href = "javascript:void(0)" ng-click = "perinvitereject('{{createTeam.org_id}}','{{createTeam.code}}')" title = "{{createTeam.refuse}}">
                {{createTeam.refuse}}
            </a>
        </li>
    </ul>
</div>