<!doctype html>
<html lang="zh-CN" ng-app="gkChat" prevent-drag-drop>
<head>
    <meta charset="utf-8">
    <title>讨论</title>
    <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="styles/bootstrap-gk.css"/>
    <link rel="stylesheet" href="styles/jquery-ui-gk.css"/>
    <link rel="stylesheet" href="styles/base.css"/>
    <link rel="stylesheet" href="styles/component.css?v=5"/>
    <link rel="stylesheet" href="styles/chat.css?v=5"/>
    <script src="scripts/util.js"></script>
    <script src="scripts/interface.js?v=5"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cache/angular-cache.js"></script>
    <script src="scripts/common.js?v=5"></script>
    <script src="scripts/chat.js?v=6"></script>
    <script src="bower_components/angular/i18n/angular-locale_zh-cn.js"></script>
</head>
<body ng-controller="initChat">
<div class="wrapper">
    <div class="main" ng-class="hideMember?'member_hidden':''">
            <div class="empty" ng-if="error">{{error.msg}}</div>
            <div class="content">
            <header>
                <div class="header_right opt_view_change">
                    <div ng-include="'views/view_change_btn.html'"></div>
                </div>
            </header>
            <section>
                <div class="scrollbar msg_list" ng-show="!error" scroll-to-msg="scrollToIndex"
                     scroll-load="handleScrollLoad()" trigger-direction="up" disable-scroll="loadingHistoryMsg">
                    <div class="chat_item c_f_after" ng-repeat="msg in currentMsgList"
                         ng-class="{'chat_item_mine':msg.sender==PAGE_CONFIG.user.member_name}">

                        <div class="time_grid" ng-show="$index==0||(currentMsgList[$index-1]&&((msg['time']|date:'yyyy/MM/dd HH:mm') != (currentMsgList[$index-1]['time']|date:'yyyy/MM/dd HH:mm')))" ng-bind="msg.time|timeAgo"></div>

                        <div class="avatar_wrapper" ng-click="atMember(msg.sender_name)">
                            <avatar class="avatar" gk-src="{{msg.sender_id|getAvatarUrl}}"></avatar>
                        </div>
                        <div class="chat_main">
                            <div class="chat_member" ng-click="atMember(msg.sender_name)">
                                <span ng-bind="msg.sender_name"></span>
                            </div>
                            <div class="chat_text">
                                <i ng-show="msg.error" title="{{msg.error}}" class="icon16x16 icon_warning"></i>
                                <span ng-bind="msg.content"></span>
                            </div>
                            <div class="chat_file" ng-dblclick="openFile($event,msg.file)" ng-click="quoteFile(msg.file)" data-dir="{{msg.file.dir}}" ng-if="msg.file"  title="{{msg.file.filename}}">
                                <div class="file_icon_wrapper">
                                    <i class="icon32x32" ng-class="msg.file.filename | getFileIcon:msg.file.dir:0:0">
                                        <img error-src="" src="{{msg.file.uuidhash | getThumbUrl:msg.file.filehash}}" ng-if="['jpg','jpeg','png','gif'].indexOf(msg.file.ext)>=0"/>
                                    </i>
                                </div>
                                <div class="filename_wrapper">
                                    <div class="filename">
                                        <span ng-bind="msg.file.filename"></span>
                                    </div>
                                    <div class="filesize" ng-show="msg.file.dir==0" >
                                        <span ng-bind="msg.file.filesize|bitSize"></span>
                                    </div>
                                </div>
                                <div class="file_opt">
                                    <button title="位置" class="" ng-click="goToFile($event,msg.file)"><i class="icon16x16 icon_location"></i></button>
                                    <button title="打开" class="" ng-click="openFile($event,msg.file)"><i class="icon16x16 icon_open_with"></i></button>
                                    <button title="引用" class="" ng-click="quoteFile(msg.file)"><i class="icon16x16 icon_recycle"></i></button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="msg.historyMsg" class="history_grid">
                            <div class="line"></div>
                            <div class="text">以上是聊天的历史记录</div>
                        </div>
                    </div>
                </div>

            </section>
            <footer ng-class="PAGE_CONFIG.file && !PAGE_CONFIG.file.posted&&PAGE_CONFIG.file.mount_id == currentSession.mountid?'post_with_file':''">
                <textarea ng-blur="saveLastText(postText)" insert-to = "insertStr" ng-model="postText" focus-me="focusTextarea" input-tip="@" input-tip-list="remindMembers" input-tip-placement="top right" placeholder="按Enter键发送" class="scrollbar post_text" ng-keydown="handleKeyDown($event,postText)"></textarea>
                <div class="post_file_wrapper" ng-if="PAGE_CONFIG.file">
                    <div data-dir="{{PAGE_CONFIG.file.dir}}" title="{{PAGE_CONFIG.file.filename}}">
                        <div class="close_btn" ng-click="cancelAtFile()">
                            <i class="close" title="取消">&times;</i>
                        </div>
                        <div class="filesize" ng-show="PAGE_CONFIG.file.dir==0" >
                            <span ng-bind="PAGE_CONFIG.file.filesize|bitSize"></span>
                        </div>
                        <div class="filename">
                            <span ng-bind="PAGE_CONFIG.file.filename"></span>
                        </div>

                    </div>
                </div>
            </footer>
            </div>

    </div>
</div>
</body>
</html>
