<!doctype html>
<html lang="zh-CN" ng-app="gkChat" prevent-drag-drop>
<head>
    <meta charset="utf-8">
    <title>够快云库</title>
    <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="styles/bootstrap-gk.css"/>
    <link rel="stylesheet" href="styles/jquery-ui-gk.css"/>
    <link rel="stylesheet" href="styles/base.css"/>
    <link rel="stylesheet" href="styles/component.css"/>
    <link rel="stylesheet" href="styles/chat.css"/>
    <script src="scripts/util.js"></script>
    <script src="scripts/interface.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/common.js?v=1"></script>
    <script src="scripts/chat.js"></script>
    <script src="bower_components/angular/i18n/angular-locale_zh-cn.js"></script>
</head>
<body ng-controller="initChat">
<div class="container">
    <div class="empty" ng-show="connecting">连接中...</div>
    <div class="main" ng-show="!connecting">
        <header>
            <div class="header_left">
                <team-logo gk-src="{{org.orgphoto}}" class="avatar avatar_big"></team-logo>
                <span ng-bind="org.name"></span>
            </div>
            <!--<i class="icon16x16 icon_person" ng-click="showMembers"></i>-->
        </header>
        <section class="scrollbar" ng-class="msg_list.length?'has_msg':''" scroll-to-bottom="scrollToBottom" scroll-load="handleScrollLoad()" trigger-direction="up">
            <div class="chat_item c_f_after" ng-repeat="msg in msg_list" ng-class="{'chat_item_mine':msg.sender==PAGE_CONFIG.user.member_id,'vip_item':msg.is_vip}">
                <div ng-if="msg.history_msg" class="history_grid">以上是聊天的历史记录</div>
                <div class="time_grid">{{msg.time|dateAgo}}</div>
                <div class="avatar_wrapper">
                    <avatar class="avatar" gk-src="{{msg.sender|getAvatarUrl}}"></avatar>
                </div>
                <div class="chat_main">
                    <div class="chat_member">
                        <span ng-bind="msg.sender_name"></span>
                    </div>
                    <div class="chat_text">
                        <i ng-show="msg.error" title="{{msg.error}}" class="icon16x16 icon_ban"></i>
                        <span ng-bind="msg.content"></span>
                    </div>
                    <div class="chat_file" ng-if="msg.fullpath" ng-click="goToFile(msg)">
                        <div class="file_icon_wrapper">
                            <i class="icon32x32" ng-class="msg.filename | getFileIcon:msg.dir:0:0">
                                <img error-src="" src="{{msg.hash | getThumbUrl:msg.filehash}}" ng-if="['jpg','jpeg','png','gif'].indexOf(msg.ext)>=0" />
                            </i>
                        </div>
                       <div class="version_wrapper">
                          <i class="version">V{{msg.version}}</i>
                       </div>
                      <div class="filename_wrapper">
                          <span class="filename" ng-bind="msg.filename"></span>
                      </div>

                    </div>
                </div>
            </div>
        </section>
        <footer>
            <textarea placeholder="按Enter键发送" class="scrollbar post_text" ng-keydown="handleKeyDown($event,postText)" ng-model="postText"></textarea>
        </footer>
    </div>
</div>
</body>
</html>
