<!doctype html>
<html lang="zh-CN" ng-app="gkClientIndex" prevent-drag-drop>
<head>
    <meta charset="utf-8">
    <title>够快云库</title>
    <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="styles/bootstrap-gk.css?v=1"/>
    <link rel="stylesheet" href="styles/jquery-ui-gk.css?v=1"/>
    <link rel="stylesheet" href="styles/ng-animation.css?v=1"/>
    <link rel="stylesheet" href="bower_components/abn.tree/abn_tree_style.css?v=1"/>
    <link rel="stylesheet" href="bower_components/tags-input/ng-tags-input.css?v=1"/>
    <link rel="stylesheet" href="bower_components/guiders/guiders.css?v=1"/>
    <link rel="stylesheet" href="styles/base.css?v=1"/>
    <link rel="stylesheet" href="styles/component.css?v=1"/>
    <link rel="stylesheet" href="styles/app.css?v=1"/>
    <script src="scripts/util.js?v=1"></script>
    <script src="scripts/interface.js?v=1"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/jquery/context-menu/jquery.contextMenu.js"></script>
    <script src="bower_components/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="bower_components/guiders/guiders.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cache/angular-cache.js"></script>
    <script src="bower_components/angunar-bindonce/bindonce.js"></script>
    <script src="bower_components/angular-drag-drop/angular-dragdrop.js"></script>
    <script src="bower_components/angular/i18n/angular-locale_zh-cn.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/abn.tree/abn_tree_directive.js"></script>
    <script src="bower_components/angular-ui/module.js"></script>
    <script src="bower_components/angular-ui/ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-localstorage/angular-local-storage.js"></script>
    <script src="bower_components/bootstrap/ui-bootstrap.js"></script>
    <script src="scripts/common.js?v=1"></script>
    <script src="scripts/controllers/controllers.js?v=1"></script>
    <script src="scripts/filters/filters.js?v=1"></script>
    <script src="scripts/directives/directives.js?v=1"></script>
    <script src="scripts/services/services.js?v=1"></script>
    <script src="scripts/app.js?v=1"></script>
</head>
<body ng-class="!PAGE_CONFIG.networkConnected?'nonetwork':''"
      ng-controller="initClient">
<!-- 左侧边栏 -->
<aside class="left_sidebar" ng-controller="leftSidebar">
    <member user="PAGE_CONFIG.user"></member>
    <div class="scrollbar tree_wrapper" contextmenu>
        <div gk-guider='{
                  buttons: [{name: "下一步",onclick:GKGuiders.next}],
                  description: "云库可以存放各种文件的基本单元。“我的云库”中的文件，你可以查看、编辑和同步到本地，你可以自己创建或加入其他人的云库。“订阅的云库”是由别人分享的，且你只能查看里面的文件",
                  id: "guide_1",
                  next: "guide_2",
                  position: 3,
                  title: "云库",
                  width: 280
                  }'>
            <abn-tree tree-data="orgTreeList"
                      header="我的云库"
                      icon-leaf="icon_file"
                      icon-expand="icon_fold"
                      icon-collapse="icon_unfold"
                      icon-node-expand="icon_teamfolder"
                      icon-node-collapse="icon_teamfolder"
                      selected-branch="selectedBranch"
                      init-selected-branch="initSelectedBranch"
                      on-add="handleAdd(GKPartition.teamFile)"
                      on-select="handleSelect(branch,GKPartition.teamFile)"
                      on-expand="handleExpand(branch,GKPartition.teamFile)"
                      on-drop="handleDrop(branch)"
                    >
            </abn-tree>
            <abn-tree tree-data="orgSubscribeList"
                      header="订阅的云库"
                      icon-leaf="icon_file"
                      icon-expand="icon_fold"
                      icon-collapse="icon_unfold"
                      icon-node-expand="icon_subscribefolder"
                      icon-node-collapse="icon_subscribefolder"
                      selected-branch="selectedBranch"
                      on-select="handleSelect(branch,GKPartition.subscribeFile)"
                      on-expand="handleExpand(branch,GKPartition.subscribeFile)"
                    >
            </abn-tree>
        </div>

        <abn-tree tree-data="smartTreeList"
                  header="智能文件夹"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_smartfolder"
                  icon-node-collapse="icon_smartfolder"
                  selected-branch="selectedBranch"
                  show-add-btn="false"
                  on-select="handleSelect(branch,GKPartition.smartFolder)"
                  on-expand="handleExpand(branch,GKPartition.smartFolder)"
                  class="smart_tree_list"
                  gk-guider='{{smartFolderGuider}}'
                >
        </abn-tree>
    </div>
</aside>

<div class="main">
<header ng-controller="header">
    <breadsearch gk-guider='{
                  buttons: [{name: "下一步",onclick:GKGuiders.next}],
                  description: "通过文件名、文件注释中的关键词查找需要的文件",
                  id: "guide_2",
                  next: "guide_3",
                  position: 6,
                  title: "搜索",
                  width: 280
                  }'></breadsearch>
    <div class="back_forward btn-group">
        <button type="button" class="btn btn-diablo back" ng-click="handleNav()" ng-disabled="!canBack"><i
                class="icon16x16 icon_leftarrow_white"></i></button>
        <button type="button" class="btn btn-diablo forward" ng-click="handleNav(true)" ng-disabled="!canForward"><i
                class="icon16x16 icon_rightarrow_white"></i></button>
    </div>
    <div class="menu">
        <span ng-click="showGuider()">
            <i class="icon32x32 icon_what"></i>
        </span>
        <span class="more_menu dropdown">
            <a href="javascript:void(0);" dropdown-toggle><i class="icon32x32 icon_menu"></i></a>
            <ul class="dropdown-menu">
                <li ng-repeat="menuchoice in items">
                    <a ng-click="menuchoice.menuclick()">{{menuchoice.item}}</a>
                </li>
            </ul>
        </span>
    </div>
</header>

<div class="content" ng-controller="fileBrowser">
    <div class="file_browser">
        <toolbar></toolbar>
        <div class="file_list_wrapper" fix-scroll>
            <div class="file_list {{view}}_view" ng-class="showHint?'has_hint':''">
                <div class="file_list_header" ng-show="view=='list'">
                    <div class="list_header">
                        <div class="file_name" ng-class="order.indexOf('filename')>=0?'current':''"
                             ng-click="setOrder('filename')">
                            <span>文件名</span>
                            <i ng-class="order=='-filename'?'gk_down_arrow':'gk_up_arrow'"></i>
                        </div>
                        <div class="last_edit_time" ng-class="order.indexOf('last_edit_time')>=0?'current':''"
                             ng-click="setOrder('last_edit_time')">
                            <i class="grid_line"></i>
                            <span>最后修改时间</span>
                            <i ng-class="order=='-last_edit_time'?'gk_down_arrow':'gk_up_arrow'"></i>
                        </div>
                        <div class="file_type" ng-class="order.indexOf('ext')>=0?'current':''"
                             ng-click="setOrder('ext')">
                            <i class="grid_line"></i>
                            <span>类型</span>
                            <i ng-class="order=='-ext'?'gk_down_arrow':'gk_up_arrow'"></i>
                        </div>
                        <div class="file_size" ng-class="order.indexOf('filesize')>=0?'current':''"
                             ng-click="setOrder('filesize')">
                            <i class="grid_line"></i>
                            <span>大小</span>
                            <i ng-class="order=='-filesize'?'gk_down_arrow':'gk_up_arrow'"></i>
                        </div>
                    </div>
                    <div class="c_f_after file_list_hint" ng-show="showHint">
                        <span class="f_l">同步的文件夹</span>
                        <a class="f_r go_to_local sync_opt btn btn-default" href="javascript:void(0)"
                           ng-click="showSyncSetting()">
                            <i class="icon16x16 icon_sync_setting"></i>
                            <span>设置</span>
                        </a>
                        <a class="f_r go_to_local sync_opt btn btn-default " href="javascript:void(0)"
                           ng-click="goToLocal()">
                            <i class="icon16x16 icon_open_local"></i>
                            <span>前往</span>
                        </a>
                    </div>
                </div>
                <div class="scrollbar list_body"
                     ng-drop="handleSysDrop($event)"
                     ng-mousedown="handleMouseDown($event)"
                     ng-right-click="handleRightClick($event)"
                     ng-model="testModel"
                     scroll-load="handleScrollLoad()"
                     ng-model="testModel"
                     create-new-folder="createNewFolder"
                     create-new-file-ext="{{createNewFileExt}}"
                     create-file-submit="createFileNameSubmit(filename,dir)"
                     keybroad-nav
                        >
                    <div class="empty" ng-if="loadingFileData">
                        <span>正在加载...</span>
                    </div>
                    <div class="empty" ng-if="errorMsg && !loadingFileData">
                        <span>{{errorMsg}}</span>
                    </div>
                    <div ng-if="!errorMsg && !loadingFileData">
                        <div class="item file_item"
                             rename-file="file.rename"
                             rename-file-submit="renameFileSubmit(filename,$index)"
                             ng-repeat="file in fileData | limitTo:limit"
                             ng-dblclick="handleDblClick(file)"
                             ng-click="handleClick($event,$index)"
                             bo-class="getItemClasses(file)"
                             bo-attr
                             bo-attr-data-dir="file.dir"
                             bo-attr-data-fullpath="file.fullpath"
                             bindonce>
                            <div class="thumb">
                                <i class="file_icon128x128" bo-class="file.filename | getFileIcon:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):(file.sync||PAGE_CONFIG.file.syncpath?1:0)">
                                    <img bo-if="['jpg','jpeg','png','gif'].indexOf(file.ext)>=0" error-src="" src="{{file.hash | getThumbUrl:file.filehash}}"/>
                                    <s bo-if="file.status==2" class="icon16x16 icon_down"></s>
                                    <s bo-if="file.status==1" class="icon16x16 icon_up"></s>
                                </i>
                            </div>
                            <div class="file_icon_wrapper">
                                <span>
                                    <i class="file_icon"
                                       bo-class="file.filename | getFileIcon:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):(file.sync||PAGE_CONFIG.file.syncpath?1:0)">
                                        <img error-src="" src="{{file.hash | getThumbUrl:file.filehash}}" bo-if="['jpg','jpeg','png','gif'].indexOf(file.ext)>=0" />
                                        <s bo-if="file.status==2" class="icon16x16 icon_down"></s>
                                        <s bo-if="file.status==1" class="icon16x16 icon_up"></s>
                                    </i>
                                </span>
                            </div>
                            <div class="file_name">
                                <span bo-title="file.fullpath" class="name" bo-text="file.filename"></span>
                            </div>
                            <div class="last_edit_time">
                                <span bo-text="file.last_edit_time*1000 | date:'yyyy/MM/dd HH:mm'"></span>
                            </div>
                            <div class="file_type">
                                <span bo-text="file.filename | getFileType:file.dir:file.ext"></span>
                            </div>
                            <div class="file_size">
                                <span bo-text="file.dir==1?'-':(file.filesize|bitSize)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <aside class="right_sidebar" ng-class="PAGE_CONFIG.mount.org_id==0?'my_right_sidebar':''"
           ng-controller="rightSidebar">
        <div ng-if="!PAGE_CONFIG.networkConnected">
            <network-unconnect></network-unconnect>
        </div>
        <div ng-if="PAGE_CONFIG.networkConnected">
            <div ng-switch="sidebar">
                <div ng-switch-when="singlefile">
                    <singlefile-right-sidebar></singlefile-right-sidebar>
                </div>
                <div ng-switch-when="multifile">
                    <multifile-right-sidebar></multifile-right-sidebar>
                </div>
                <div ng-switch-when="nofile">
                    <nofile-right-sidebar></nofile-right-sidebar>
                </div>
            </div>
        </div>
    </aside>
</div>
</div>

<resize></resize>
<div class="slide_backdrop" ng-if="showSildeGuide" ng-controller="slide">
    <carousel on-next="nextCallback(index)">
        <slide ng-repeat="slide in slides" active="slide.active">
            <div class="item_content" ng-class="'item_content_'+$index">
                <img ng-src="{{slide.image}}">
            </div>
        </slide>
    </carousel>
</div>
</body>
</html>
