<!DOCTYPE html>
<html ng-app = "gkClientLogin">
<head>
    <title>登录</title>
    <meta http-equiv = "content-type" content="text/html;charset = utf-8" />
    <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="styles/base.css"/>
    <link rel="stylesheet" href="styles/component.css"/>
    <link rel="stylesheet" href="styles/login.css"/>
    <script src="scripts/util.js"></script>
    <script src="scripts/interface.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular/angular-md5.js"></script>
    <script src="scripts/login.js"></script>
    <script src="scripts/services/services.js"></script>
</head>
<body ng-controller="loginCtrl">
<header></header>
<section class="login" ng-show="step=='login'">
<div class="content">
    <h2>欢迎登录够快云盘</h2>
    <div class="form_wrapper">
        <div class="input_wrapper_group">
        <div class="input_wrapper">
            <label for="username"><i class="icon16x16 icon_email"></i></label>
            <input name="username" id="username" placeholder="账号" class="input_text" ng-model="username" autocomplete="off"/>
        </div>
        <div class="input_wrapper">
            <label for="password"><i class="icon16x16 icon_lock"></i></label>
            <input name="password" id="password" type="password" placeholder="密码" class="input_text" ng-model="password" autocomplete="off"/>
        </div>
        </div>
        <div class="c_f form_layer">
            <div class="f_r">
                <a href="javascript:void(0)">忘记密码？</a>
            </div>
        </div>
        <div class="form_layer">
            <button class="btn btn-blue btn-big login" ng-click="loginSubmit()">登 录</button>
        </div>
        <div class="form_layer goto_layer">
            还没有够快账号？<a href="javascript:void(0)" ng-click="step='regist'">立即免费注册</a>
        </div>
    </div>
</div>
</section>
<section class="regist" ng-show="step=='regist'">
    <div class="content">
        <h2>注册账号</h2>
        <div class="form_wrapper">
            <div class="input_wrapper_group">
                <div class="input_wrapper">
                    <label><i class="icon16x16 icon_email"></i></label>
                    <input name="regist_email" id="regist_email" placeholder="邮箱地址" class="input_text" ng-model="registEmail" autocomplete="off"/>
                </div>
                <div class="input_wrapper">
                    <label><i class="icon16x16 icon_lock"></i></label>
                    <input name="regist_password" id="regist_password" type="password" placeholder="登录密码" class="input_text" ng-model="registPassword" autocomplete="off"/>
                </div>
                <div class="input_wrapper">
                    <label><i class="icon16x16 icon_person"></i></label>
                    <input name="regist_username" id="regist_username" type="text" placeholder="称呼" class="input_text" ng-model="registUsername" autocomplete="off"/>
                </div>
            </div>
            <div class="form_layer">
                <button class="btn btn-green btn-big login" ng-click="registSubmit()">注 册</button>
            </div>
            <div class="form_layer goto_layer">
                我已有够快账号？<a href="javascript:void(0)" ng-click="step='login'">立即登录</a>
            </div>
        </div>
    </div>
</section>

<section class="device" ng-show="step=='device'">
    <div class="content">
        <h2>注册设备</h2>
        <div class="form_wrapper">
            <div class="input_wrapper_group">
                <div class="input_wrapper">
                    <input name="regist_device" id="regist_device" placeholder="设备名称" class="input_text" ng-model="registDevice" autocomplete="off"/>
                </div>
            </div>
            <div class="form_layer">
                <button class="btn btn-blue btn-big login">开始使用</button>
            </div>

        </div>
    </div>
</section>

</body>
</html>