<!DOCTYPE html>
<html ng-app = "gkClientLogin" prevent-drag-drop>
<head>
    <title>够快2014</title>
    <meta http-equiv = "content-type" content="text/html;charset = utf-8" />
    <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="styles/bootstrap-gk.css"/>
    <link rel="stylesheet" href="styles/base.css"/>
    <link rel="stylesheet" href="styles/component.css"/>
    <link rel="stylesheet" href="styles/ng-animation.css"/>
    <link rel="stylesheet" href="styles/login.css"/>
    <script src="scripts/util.js"></script>
    <script src="scripts/interface.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="scripts/login.js"></script>
    <script src="scripts/common.js?v=1"></script>
    <script src="scripts/services/services.js"></script>
    <script src="scripts/directives/directives.js"></script>
</head>
<body ng-controller="loginCtrl" ng-keydown="handleKeyDown($event)">

<section class="login rotate" ng-show="step=='login'">
    <header>
        <img class="logo" src="images/login_logo.png" alt="" />
    </header>
<div class="content">
    <div class="form_wrapper">
        <div class="input_wrapper_group">
        <div class="input-group">
            <label for="username" class="input-group-addon"><i class="icon16x16 icon_person"></i></label>
            <input name="username" type="text" focus-me="focus=='username'" id="username" placeholder="用户名或邮箱" class="form-control" ng-model="username" autocomplete="off"/>
        </div>
        <div class="input-group">
            <label class="input-group-addon" for="password"><i class="icon16x16 icon_lock"></i></label>
            <input name="password" id="password" focus-me="focus=='password'" type="password" placeholder="密码" class="form-control" ng-model="password" autocomplete="off"/>
        </div>
        </div>
        <div class="c_f form_layer">
            <div class="f_r">
                <a href="{{siteDomain}}/findpassword">忘记密码？</a>
            </div>
        </div>
        <div class="form_layer">
            <button class="btn btn-primary btn-big login" ng-disabled="loading" ng-click="loginSubmit()">登 录</button>
        </div>
        <div class="form_layer">
           <oauth-login></oauth-login>
        </div>
        <div class="form_layer goto_layer">
            还没有够快帐号？<a href="javascript:void(0)" ng-click="showStep('regist')">立即免费注册</a>
        </div>
    </div>
</div>
</section>
<section class="regist rotate" ng-show="step=='regist'">
    <header>
        <img class="logo" src="images/login_logo.png" alt="" />
    </header>
    <div class="content">
        <div class="form_wrapper">
            <div class="input_wrapper_group">
                <div class="input-group">
                    <label class="input-group-addon"><i class="icon16x16 icon_person"></i></label>
                    <input name="regist_username" focus-me="focus=='regist_username'" maxlength="16" minlength="2" id="regist_username" type="text" placeholder="用户名" class="form-control" ng-model="registUsername" autocomplete="off"/>
                </div>
                <div class="input-group">
                    <label class="input-group-addon"><i class="icon16x16 icon_envelope"></i></label>
                    <input name="regist_email" focus-me="focus=='regist_email'"  type="text" id="regist_email" placeholder="邮箱" class="form-control" ng-model="registEmail" autocomplete="off"/>
                </div>
                <div class="input-group">
                    <label class="input-group-addon"><i class="icon16x16 icon_lock"></i></label>
                    <input name="regist_password" focus-me="focus=='regist_password'"  id="regist_password" type="password" placeholder="密码" class="form-control" ng-model="registPassword" autocomplete="off"/>
                </div>
            </div>
            <div class="form_layer">
                <button class="btn btn-green btn-big login" ng-disabled="loading" ng-click="registSubmit()">注 册</button>
            </div>
            <div class="form_layer">
                <oauth-login></oauth-login>
            </div>
            <div class="form_layer goto_layer">
                我已有够快帐号？<a href="javascript:void(0)" ng-click="showStep('login')">立即登录</a>
            </div>
        </div>
    </div>
</section>

<section class="device rotate" ng-show="step=='device'">
    <header>
        <img class="logo" src="images/login_logo.png" alt="" />
    </header>
    <div class="content">
        <div class="form_wrapper">
            <div class="input_wrapper_group">
                <div class="input-group">
                    <label for="username" class="input-group-addon"><i class="icon16x16 icon_computer"></i></label>
                    <input name="regist_device" focus-me="focus=='regist_device'" type="text" id="regist_device" placeholder="设备名称" class="form-control" ng-model="registDevice" autocomplete="off"/>
                </div>
            </div>
            <div class="form_layer">
                为你的设备设定一个名称，以便以后方便的管理你的设备
            </div>
            <div class="form_layer">
                <button class="btn btn-primary btn-big login"  ng-click="setDevice()">开始使用</button>
            </div>

        </div>
    </div>
</section>
<!--<close-window-button></close-window-button>-->
</body>
</html>