<!doctype html>
<html lang="zh-CN" ng-app="gkClientFrame" prevent-drag-drop>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="styles/base.css"/>
    <link rel="stylesheet" href="styles/component.css"/>
    <link rel="stylesheet" href="styles/tcframe.css"/>
    <script src="scripts/util.js"></script>
    <script src="scripts/interface.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular/i18n/angular-locale_zh-cn.js"></script>
    <script src="bower_components/angular-localstorage/angular-local-storage.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="scripts/directives/directives.js"></script>
    <script src="scripts/controllers/tcframe_controllers.js"></script>
    <script src="scripts/directives/tcframe_directives.js"></script>
    <script src="scripts/services/services.js"></script>
    <script src="scripts/tcframe.js"></script>
    <script>
        if(!gkClientInterface.isWindowsClient()){
            document.write(unescape("%3Clink rel='stylesheet' href='styles/tcframe_mac.css' type='text/javascript' %3E%3C/link%3E"));
        }
    </script>
</head>
<body ng-controller="initFrame">
<header ng-click="handleHeaderClick()">
    <i></i>
    <a href="javascript:void(0)" class="logout" ng-click="logout()"><i></i></a>
</header>
<qiuckmenu></qiuckmenu>
<div class="message_wrapper" ng-click="showMessage()">
    <ul class="scrollbar message_list">
        <li ng-show="!messages || !messages.length" class="empty">没有消息</li>
        <li ng-repeat="message in messages">
            <div class="dateline" ng-bind="message.date_txt">
            </div>
            <div class="photo_wrapper">
                <img src="images/default_photo.png" ng-src="message.member_photo" error-src="images/default_photo.png" class="photo"/>
                <img src="images/default_logo.png" ng-src="message.member_photo" error-src="images/default_logo.png" class="photo"/>
            </div>
            <div class="msg">
                <span ng-bind="message.member_name"></span>
                <span ng-bind-html="message.render_text"></span>
            </div>
        </li>
    </ul>
</div>

</body>
</html>
