<div class = "site-content-advanced" ng-show="siteSidebar== 'contentAdvanced'" >
    <ul>
        <li class = "siteadvancedseat"><span>配置文件位置</span></li>
        <li>
            <input class = "siteadvancepath" type = "text" readonly="readonly" value = "{{configpath}}" />
            <button class = "siteadvancepathdlg" ng-click = "siteadvancepathdlg()" value = "移动">移动</button>
            </li>
        <li class = "siteadvancerestart" >
            <span>软件重启生效</span>
        </li>
        <li class = "siteadvancechche">
            <button class = "clercache" ng-click = "siteClearCache()" >清除缓存</button><span>删除缓存可以换区您的硬盘空间，但可能会导致您的同步效率下降</span>
        </li>
    </ul>
</div>