 <div  class="site-content-synchronous" ng-show="siteSidebar=='contentSynchronous'"  >
     <div class = "site-content-top">
         <span >同步文件夹管理</span>
         <div class = "f_r">
             <button  type="button" ng-click = "startsync = (startsync ==='暂停所有同步'? '恢复所有同步':'暂停所有同步');siteSyncClick(startsync)" class="starsynctop btn btn-gk">{{startsync}}</button>
         </div>
     </div>
     <ul class = "site-content-synchronous-menu c_f_after">
         <li  class = "site-content-synchronous-file f_l"> 同步目录</li>
         <li  class = "site-content-synchronous-sync f_l"> 同步状态</li>
         <li  class = "site-content-synchronous-oper f_l"> 同步操作</li>
     </ul>
     <div class = "site-content-sync-form scrollbar">
         <ul>
           <li ng-class-odd="'sitedevicesodd'" ng-class-even="'sitedeviceseven'"  ng-repeat = "syncData in sync" class = "syncline c_f_after">
             <div class = "site-synchronous-file f_l"><span ng-bind = "syncData.webpath"></span></div>
             <div class = "site-synchronous-sync f_l"><i class = "{{syncData.icon}} f_l"></i><span ng-bind = "syncData.finish"></span></div>
             <div class = "site-synchronous-oper sync-color f_l" ng-click = "syncCancel($index,'{{syncData.webpath}}','{{syncData.mountid}}')" ><a href = "javascript:void(0);">取消同步</a></div>
           </li>
         </ul>
     </div>

 </div>
