<div class = "site-content-network" ng-show="siteSidebar== 'contentNetwork'" >
    <div class = "site-content-top">
        <span >网络</span>
    </div>
    <ul>
        <li>
            <input type = "checkbox" ng-model = "local" id = "local"/><label for = "local">开启局域网内高速同步</label>
        </li>
        <li><input type = "checkbox"  ng-model ="https" id = "https"/><label for = "https">开启HTTPS安全链接</label></li>
        <li> <input type = "checkbox" ng-model ="proxy" id = "proxy"/><label for = "proxy">开启IE代理</label><label for = "proxy" style = "color:#E75A5A">（软件下次启动时生效）</label></li>
        <li class = "sitenetworkagentproxy">
            <button type="button"  ng-click = "siteagent()" class="btn btn-gk">设置代理</button>
        </li>
        </ul>
</div>