<div  class="site-content-synchronous" ng-show="siteSidebar== 'contentdevice'">
    <div class = "site-content-top">
        <span >注册设备</span>
        <div class = "f_r"><input  ng-model = "state" class = "sitesynchronousban" type = "checkbox" ng-change = "changeNewDevice()" id = "sitesyc"/><label for="sitesyc">禁止其他新设备登录</label></div>
    </div>
    <div class = "site-content-sync">
        <ul class = "site-content-device-menu c_f_after">
            <li  class = "site-content-device-name f_l">设备名称</li>
            <li  class = "site-content-device-version f_l">系统信息</li>
            <li  class = "site-content-device-date f_l">最后登录时间</li>
            <li  class = "site-content-device-file f_r">操作</li>
        </ul>
        <div class = "site-content-form scrollbar">
          <ul>
              <li ng-repeat = "device in sitedevices" ng-class-odd="'sitedevicesodd'" ng-class-even="'sitedeviceseven'"  class = "c_f_after">
                  <div  class = "site-device-name f_l"><i class = "deviceicon f_l {{device.devicesicon}}"></i><span >{{device.os_name}}</span></div>
                  <div  class = "site-device-version f_l"><span >{{device.os_version}}</span></div>
                  <div  class = "site-device-date f_l"><span>{{device.last_activity}}</span></div>
                  <div class="btn-toolbar site-device-file f_r" role="toolbar">
                      <div class="btn-group">
                          <button type="button" class="btn  '{{device.startbancolor}}' startbanred" ng-click = "banstart('{{device.state}}' ,'{{device.device_id}}','{{device.allow_delete}}', '{{device.devicesicon}}')">{{device.startban}}</button>
                      </div>
                      <div class="btn-group">
                          <button type="button" class="btn delebancolor" ng-click = "siteSyncDelete('{{device.device_id}}',$index)">{{device.deleban}}</button>
                      </div>
                      <div class="btn-group">
                          <a class="startbangr">{{device.currentban}}</a>
                      </div>
                  </div>
              </li>
           </ul>
         </div>
    </div>
</div>