<div class = "site-content-advanced" ng-show="siteSidebar== 'contentAdvanced'" >
    <div class = "site-content-top">
        <span >高级</span>
    </div>
    <ul>
        <li class = "siteadvancedseat"><span>配置文件位置</span><span style = "color:#E75A5A;">（软件下次启动时生效）</span></li>
        <li>
            <input class = "siteadvancepath" type = "text" readonly="readonly" value = "{{configpath}}" />
            <button type="button" ng-click = "siteadvancepathdlg()" class="btn btn-default siteadvancepathdlg">移动</button>
        </li>
        <li class = "siteadvancechche">
            <button type="button" ng-click = "siteClearCache()" class="btn btn-default siteadvancepathdlg">清除缓存</button>
            <span>删除缓存可以换区您的硬盘空间，但可能会导致您的同步效率下降</span>
        </li>
    </ul>
</div>