<div class = "personal-management-team" ng-show = "haveNoTeam == 'haveTeam' ">
    <div class = "personal-team-picture f_l">
        <a href = "javascript:;" title = "teampicture">
             <img src = {{perteam.orgphoto}} alt = "teampicture" />
        </a>
    </div>
    <ul class = "personal-management-information f_l">
         <li class = "personal-team-name">
            <span title = "{{perteam.name}}">{{perteam.name}}</span>
         </li>
        <li class = "personal-team-competence">
            <span title = "{{perteam.admin}}">{{perteam.admin}}</span>
             </li>
        </ul>
     <ul class="personal-team-management-show c_f_after">
        <li class = "personal-float-management f_l">
             <a href = "javascript:void(0);" ng-click = "permanagement('{{perteam.org_id}}')" title = "{{perteam.management}}">{{perteam.management}}</a>
            </li>
         <li class = "personal-float-quit f_r">
             <a href = "javascript:void(0);" ng-click = "perquit('{{perteam.org_id}}')" title = "{{perteam.quit}}">{{perteam.quit}}</a>
          </li>
     </ul>
</div>