<!DOCTYPE html>
<html ng-app ="personal">
<head>
    <title>personalInformation</title>
    <meta http-equiv = "content-type" content="text/html;charset = utf-8" />
    <link rel = "stylesheet" href = "../css/file.css" type = "text/css" />
    <link rel = "stylesheet" href = "../css/base.css" type = "text/css" />
    <script src="../lib/angular/angular.js"></script>

</head>
<body ng-controller = "Ctrll">
    <script type = "text/javascript">

        var app = angular.module("personal",[]);
        app.controller("Ctrll",function(){


        });
    </script>
    <div id = "personal-wrapper"  class = "personal-wrapper-slide">
        <div id = "personal-header">

        </div>
        <div id = "personal-information" class="c_f_after">
            <div class = "personal-picture f_l">
                <a href = "javascript:;" title = "picture">
                    <img src = "../img/picture.jpg" alt = "picture" />
                </a>
            </div>
            <div class = "personal-message f_l">
                <!--input type = "text" size = "8" ng-model = "personalUsername"/-->
                <div class = "personal-username">
                    <span  ng-click = "display=none">许海浩</span>
                </div>
                <ul class = "personal-contact">
                    <li class = "f_l personal-contact-email">
                        <span>shawnstyle@qq.com</span>
                        <input type = "text" size = "15" value = "xx"/>
                    </li>
                    <li class="f_l personal-contact-phone">
                        <span>15306663164</span>
                        <input type = "text" size = "15" value = "xx"/>
                    </li>
                    <li class="f_l">
                        <span>已使用：</span>
                    </li>
                    <li class="f_l personal-contact-stored">
                        <span>328.17GB</span>
                        <input type = "text" size = "15" value = "xx"/>
                    </li>
                </ul>
            </div>
            <div class = "personal-message-site f_r">
                <a href = "javascript:;" title= "设置">
                    <img src = "#" alt = "site" />
                </a>
            </div>
        </div>
        <div id = "personal-function">
            <ul class = "personal-function-group ">
                <li class="personal-function-management f_l">
                    <a href = "javascript:;" title = "管理设置" >
                         管理设置
                    </a>
                </li>
                <li class="personal-function-software f_l">
                    <a href = "javascript:;" title = " 软件设置" >
                        软件设置
                    </a>
                </li>
                <li class="personal-function-cancellation f_l">
                    <a href = "javascript:;" title = "注销账号" >
                        注销账号
                    </a>
                </li>
            </ul>
        </div>
        <div id = "personal-title" class="c_f_after">
            <div class = "personal-myteam f_l">
                <span>我的团队</span>
            </div>
            <div class = "personal-newteam f_r">
                <a href = "javascript:;" title  = "新建一个团队">
                    新建一个团队
                </a>
            </div>
        </div>
        <div id = "personal-management" class=" scrollbar">
            <div class = "personal-menagement-team ">

            </div>
        </div>
        <div id = "personal-footer">
             <div class = "personal-close">
                 关闭
             </div>
         </div>
    </div>
</body>
</html>