<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id = "site-wrapper" class = "site-wrapper-slide">
        <div id = "site-sidebar" class = "site-sidebar-slide">
            <ul>
                <li>
                    <h3>通用</h3>
                </li>
                <li>
                    <h3>设备</h3>
                </li>
                <li>
                    <h3>同步</h3>
                </li>
                <li>
                    <h3>网络</h3>
                </li>
                <li>
                    <h3>高级</h3>
                </li>
            </ul>
        </div>
        <div id = "site-content" class = "site-content-slide">

        </div>
        <div id = "site-footer" class = "site-footer-slide">

        </div>
    </div>
</body>
</html>