<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>备份你的电脑</h4>
</div>
<div class="modal-body">
    <p>选择你计算机中的对应内容，我们将自动帮你备份到够快中</p>
    <ul class="backup_list">
        <li ng-repeat="item in backupList" class="{{item.name}}">
            <div class="prev">
                <i></i>
                <div class="name">{{item.text}}</div>
            </div>
            <div class="next">
                <div class="tip">{{item.tip}}</div>
                <div>
                    <button ng-click="backUp(item)" class="btn btn-default">备份</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
