<div>
    <div class="head_wrapper">
        <img alt="" src="images/default_logo.png" error-src="images/default_logo.png" ng-src="{{sidbarData.photo}}" />
        <div>
            <div class="title">{{sidbarData.title}}</div>
            <div ng-bind-html="sidbarData.atrrHtml"></div>
        </div>
    </div>
    <div class="tip">{{sidbarData.tip}}</div>
    <ul class="menu_list">
        <li ng-repeat="menu in sidbarData.menus" class="{{menu.name}}">
            <a href="javascript:void(0)" ng-click="menu.click()"><i class="icon16x16"></i><span>{{menu.text}}</span></a>
        </li>
    </ul>
</div>