<div ng-show="sidbarData">
    <div class="head_wrapper" ng-click="headClick()">
        <img alt="" src="images/default_logo.png" error-src="images/default_logo.png" ng-src="{{sidbarData.photo}}" />
        <div>
            <div class="title">{{sidbarData.title}}</div>
            <div ng-bind-html="sidbarData.atrrHtml"></div>
        </div>
    </div>
    <div class="tip">{{sidbarData.tip}}</div>
    <ul class="menu_list" gk-guider='{
                  buttons: [{name: "下一步",onclick:GKGuiders.next}],
                  description: "查看云库的信息，并对其进行容量、成员、订阅者及安全方面的管理。",
                  id: "guide_4",
                  next: "guide_5",
                  position: 9,
                  title: "云库信息",
                  width: 280
                  }'>
        <li ng-repeat="menu in sidbarData.menus" class="{{menu.name}}">
            <a href="javascript:void(0)" ng-click="menu.click()"><i class="icon16x16" ng-class="menu.icon"></i><span>{{menu.text}}</span></a>
        </li>
    </ul>
</div>