<!DOCTYPE html>
<html ng-app = "gkContactApp">
<head>
<title>contact</title>
<meta http-equiv = "content-type" content="text/html;charset = utf-8" />
<link rel = "stylesheet" href = "../styles/base.css" type = "text/css" />
<link rel = "stylesheet" href = "../styles/file.css" type = "text/css" />
<link rel="stylesheet" href="../bower_components/abn.tree/abn_tree_style.css">
</head>
<body ng-controller = "contactCtrl">
<div id = "contact-wrapper" class = "contact-wrapper-slide">
    <div class = "contact-header">
        <h1>从联系人中选择</h1>
    </div>
    <div class = "contact-container c_f_after">
        <div class = "contact-sidebar f_l">
            <div class = "contact-sidebar-selected">
                <span>已选择x个</span>
            </div>
            <div class ="contact-sidebar-tree">
                <abn-tree header="This is the example tree" tree-data="example_treedata" icon-leaf="icon-file" on-select="contactTree(branch)" expand-level="2" initial-selection="Vegetable"></abn-tree>
            </div>
        </div>
        <div class = "contact-content f_l">
            <div class = "contact-content-search">
                <input class = "button selectGroup" type = "button"  data-group="确定"  value="选择此组" />
                <input type = "text" class= "search" value = "ddd" ng-model='username' />
            </div>
            <div class = "contact-content-group scrollbar ">
                <contact-group-members ng-repeat = "groupnew in group | filter: username" ></contact-group-members>
             </div>
        </div>
    </div>
    <div class = "contact-footer">
        <div class = "contact-footer-determine-close">
            <input class = "contact-footer-determine" type = "button" value = "确定" ng-click="perPostShare()" />
            <input class = "contact-footer-close" type = "button" value = "关闭" />
        </div>
    </div>
</div>
<div class="alert">{{ output }}</div>
<script src="../bower_components/angular/angular.js" type="text/javascript"></script>
<script src="../bower_components/jquery/jquery.js" type="text/javascript"></script>
<script src="../bower_components/abn.tree/abn_tree_directive.js"></script>
<script src = "../scripts/controllers/controllers.js" type="text/javascript"></script>
<script src = "../scripts/directives/directives.js" type="text/javascript"></script>
<script src = "../scripts/services/services.js" type="text/javascript"></script>
<script src = "../scripts/interface.js" type="text/javascript"></script>
<script src = "../scripts/app.js" type="text/javascript"></script>
</body>
</html>