<div class = "contact-content-team">
    <div class = "contact-content-picture f_l">
        <a href = "javascript:void(0);" title = "teampicture">
             <img src = "../images/deputy/picture.jpg" alt = "teampicture" />
        </a>
    </div>
    <ul class = "contact-content-information f_l">
        <li class = "contact-content-name">
            <span title = "{{groupnew.username}}">{{groupnew.member_name}}</span>
        </li>
        <li class = "contact-content-email">
            <a href = "javascript:void(0);" style = "-webkit-text-size-adjust:none;font:4px" title = "{{groupnew.email}}">{{groupnew.member_email}}</a>
        </li>
    </ul>
    <a href="javascript:void(0);" class = "contact-content-normal" title = "选择">选择</a>
</div>