
    <div>
    <div class="thumb" bo-title="file.fullpath">
        <i class="file_icon128x128" bo-class="file.filename | getFileIcon:file.dir:0:(file.sync||PAGE_CONFIG.file.syncpath?1:0)">
            <img bo-if="['jpg','jpeg','png','gif','bmp'].indexOf(file.ext)>=0" error-src="" ng-src="{{file.hash | getThumbUrl:file.filehash:file.fullpath}}"/>
            <s bo-if="file.status==2" class="icon16x16 icon_down"></s>
            <s bo-if="file.status==1" class="icon16x16 icon_up"></s>
            <s bo-if="file.lock>0" class="icon16x16 icon_lock_color" ng-class="{'icon_lock_green':file.lock==1,'icon_edit_color':file.lock==2}" title="{{'已被'+file.lock_member_name+'锁定'}}"></s>
        </i>
    </div>
    <div class="file_icon_wrapper" bo-title="file.fullpath">
          <span>
               <i class="file_icon"
               bo-class="file.filename | getFileIcon:file.dir:0:(file.sync||PAGE_CONFIG.file.syncpath?1:0)">
                  <!--<img error-src="" ng-src="{{file.hash | getThumbUrl:file.filehash}}" bo-if="['jpg','bmp','jpeg','png','gif'].indexOf(file.ext)>=0" />-->
                <s bo-if="file.status==2" class="icon16x16 icon_down"></s>
                <s bo-if="file.status==1" class="icon16x16 icon_up"></s>
                <s bo-if="file.lock>0" class="icon16x16" ng-class="{'icon_lock_green':file.lock==1,'icon_edit_color':file.lock==2}" title="{{'已被'+(file.lock==1?file.lock_member_name:'我')+'锁定'}}"></s>
              </i>
          </span>
    </div>
    <div class="file_name" bo-title="file.fullpath">
        <span class="name" bo-text="file.filename"></span>
    </div>
    <div class="last_edit_time">
        <span bo-text="file.last_edit_time*1000 | date:'yyyy/MM/dd HH:mm'"></span>
    </div>
    <div class="file_type">
        <span bo-text="file.filename | getFileType:file.dir:file.ext"></span>
    </div>
    <div class="file_size">
        <span bo-text="file.dir==1?'-':(file.filesize|bitSize)"></span>
    </div>

    <div class="copy_to_mail_container">
           <a href="javascript:;" ng-click="copyToEmail(file)"><i class="icon16x16 copy_tomail"></i></a>
    </div>
    </div>
