<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 ng-if="publish">创建公开文件夹<span>{{orgName}}</span></h4>
    <h4 ng-if="!publish">新建文件夹<span>{{orgName}}</span></h4>
</div>
<div class="modal-body">
    <div ng-show="!PAGE_CONFIG.networkConnected">
        <network-unconnect></network-unconnect>
    </div>
    <div ng-show="PAGE_CONFIG.networkConnected">
        <div>
            <label id="filename">文件夹名：</label>
            <input class="form-control" type="text" name="filename" id="filename" ng-model="filename" />
        </div>
    </div>

</div>
<div class="modal-footer" ng-show="PAGE_CONFIG.networkConnected">
    <button class="btn btn-primary" ng-click="ok(filename,shareToSubscriber)">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>