<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>创建云库文件夹</h4>
</div>
<div class="modal-body">
    <div ng-show="!PAGE_CONFIG.networkConnected">
        <network-unconnect></network-unconnect>
    </div>
    <div ng-show="PAGE_CONFIG.networkConnected">
        <div>
            <label id="filename">文件夹名：</label>
            <input class="form-control" type="text" name="filename" id="filename" ng-model="filename" />
        </div>
        <div>
            <div class="checkbox">
                <input id="share_to_subscriber" name="share_to_subscriber" type="checkbox" ng-model="shareToSubscriber" />
                <label for="share_to_subscriber">同时共享给订阅者</label>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer" ng-show="PAGE_CONFIG.networkConnected">
    <button class="btn btn-primary" ng-click="ok(filename,shareToSubscriber)">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>