<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>文件更新</h4>
</div>
<div class="modal-body">
    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;胖子&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>
    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;亮亮&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>
    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;贼贼&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>
    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;海浩&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>
    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;不要在意细节&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>
    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;刘星&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>

     <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;徐葛&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
             <button ng-click="goToFile($event,'智库.reg')">
                 <i class="icon16x16 icon_search"></i>
            </button>
     </div>
    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;林盛&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>

    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;二胡&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>

    <div>
         <span>
             <img error-src=""  ng-src="{{'text11' |getAvatarUrl:0:true}}"/>
            <span>&nbsp;&nbsp;黄志彪&nbsp;&nbsp;更新了&nbsp;&nbsp;&nbsp;&nbsp;</span>
             <span style="color: #50ACF3">智库.reg</span>
         </span>
        <button ng-click="goToFile($event,'智库.reg')">
            <i class="icon16x16 icon_search"></i>
        </button>
    </div>
    <span style="display: inline-block; width:100%;height:20px; text-align: right;padding:10px;">
        首页 上一页  下一页  末页
    </span>
</div>