<div class="content">
    <div class="file_browser">
        <toolbar></toolbar>
        <div class="file_list_wrapper" ng-dblclick="handleDblClick($event)">
            <finder filter="{{filter}}" file-data="fileData" view="view" partition="partition" order="order" selected-file="selectedFile" right-opts="rightOpts" keyword="{{keyword}}"></finder>
        </div>
    </div>
    <right-sidebar selected-file="selectedFile" path="path" partition="partition" filter="filter" mount-id="mountId"></right-sidebar>
</div>

