<div class="file_list {{view}}_view" ng-class="showHint?'has_hint':''">
    <div class="c_f_after file_list_hint" ng-show="showHint">
        <span class="f_l">同步的文件夹</span>
        <a class="f_r go_to_local sync_opt btn btn-default" href="javascript:void(0)" ng-click="showSyncSetting()">
            <i class="icon16x16 icon_sync_setting"></i>
            <span>设置</span>
        </a>
        <a class="f_r go_to_local sync_opt btn btn-default " href="javascript:void(0)" ng-click="goToLocal()">
            <i class="icon16x16 icon_open_local"></i>
            <span>前往</span>
        </a>
    </div>
    <div class="file_list_header" ng-show="view=='list'">
        <div class="file_name" ng-class="order.indexOf('filename')>=0?'current':''" ng-click="setOrder('filename')">
            <span>文件名</span>
            <i ng-class="order=='-filename'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
        <div class="last_edit_time" ng-class="order.indexOf('last_edit_time')>=0?'current':''"
             ng-click="setOrder('last_edit_time')">
            <i class="grid_line"></i>
            <span>最后修改时间</span>
            <i ng-class="order=='-last_edit_time'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
        <div class="file_type" ng-class="order.indexOf('ext')>=0?'current':''" ng-click="setOrder('ext')">
            <i class="grid_line"></i>
            <span>类型</span>
            <i ng-class="order=='-ext'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
        <div class="file_size" ng-class="order.indexOf('filesize')>=0?'current':''" ng-click="setOrder('filesize')">
            <i class="grid_line"></i>
            <span>大小</span>
            <i ng-class="order=='-filesize'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
    </div>

    <div class="scrollbar list_body" ng-drop="handleSysDrop($event)" ng-mousedown="handleMouseDown($event)"
         ng-right-click="handleRightClick($event)" ng-model="testModel" scroll-load= "handleScrollLoad()"
         ng-model="testModel"
         ui-selectable
            >
        <div class="empty" ng-if="errorMsg">
            <span>{{errorMsg}}</span>
        </div>
        <div ng-if="!errorMsg">


        <div class="item file_item"
             ng-class="{'nocache':file.cache==0 && file.dir==0,'hover':file.hover,'selected':file.selected}"
             ng-repeat="file in fileData"
             ng-dblclick="handleDblClick(file)"
             ng-click="handleClick($event,$index)"
             ng-mouseup="handleMouseUp($event,$index)"
             data-fullpath="{{file.fullpath}}"
             data-drag="true"
             data-drop="!file.disableDrop"
             jqyoui-draggable="{onStart:'dragBegin($index)',onStop:'dragEnd($index)'}"
             data-drop="file.dir==1"
             jqyoui-droppable="{onDrop:'handleDrop(file)',onOver:'handleOver(file)',onOut:'handleOut(file)'}"
             data-jqyoui-options="{containment:'window',helper:getHelper,zIndex: 9999,appendTo:'body',cursorAt: { left: 5 ,top:8}}"
                >
            <div class="thumb" ng-show="view=='thumb'">
                <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)<0"
                     ng-src="{{ file.filename | getFileThumb:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}" />
                <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)>=0"
                     error-src="{{file.filename | getFileThumb:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}"
                     ng-src="{{file.hash | getThumbUrl:file.filehash}}" />
            </div>
            <div class="file_name">
                <span ng-show="view=='list'">
                  <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)>=0"
                       error-src="{{file.filename | getFileThumb:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}"
                       ng-src="{{file.hash | getThumbUrl:file.filehash}}" />
                  <i ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)<0" class="file_icon {{file.filename | getFileIcon:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}">
                </i>
                </span>

                <span title="{{file.fullpath}}" class="name" ng-if="!keyword.length" ng-bind="file.filename"></span>
                <span title="{{file.fullpath}}" class="name" ng-if="keyword.length"
                      ng-bind-html="file.filename|highlight:keyword"></span>
            </div>
            <div class="last_edit_time" ng-show="view=='list'">
                <span>{{file.last_edit_time*1000 | date:'yyyy/M/d H:m'}}</span></div>
            <div class="file_type" ng-show="view=='list'"><span>{{file.filename | getFileType:file.dir:file.ext}}</span>
            </div>
            <div class="file_size" ng-show="view=='list'"><span>{{file.dir==1?'-':(file.filesize|bitSize)}}</span></div>
        </div>
        </div>
    </div>
</div>
