<div class="file_list {{view}}_view">
    <div class="file_list_header" ng-show="view=='list'">
        <div class="file_name" ng-class="order.indexOf('file_name')>=0?'current':''" ng-click="setOrder('file_name')">
            <span>文件名</span>
            <i ng-class="order=='-file_name'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
        <div class="last_edit_time" ng-class="order.indexOf('last_edit_time')>=0?'current':''" ng-click="setOrder('last_edit_time')">
            <i class="grid_line"></i>
            <span>最后修改时间</span>
            <i ng-class="order=='-last_edit_time'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
        <div class="file_type" ng-class="order.indexOf('file_type')>=0?'current':''" ng-click="setOrder('file_type')">
            <i class="grid_line"></i>
            <span>类型</span>
            <i ng-class="order=='-file_type'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
        <div class="file_size" ng-class="order.indexOf('file_size')>=0?'current':''" ng-click="setOrder('file_size')">
            <i class="grid_line"></i>
            <span>大小</span>
            <i ng-class="order=='-file_size'?'gk_down_arrow':'gk_up_arrow'"></i>
        </div>
    </div>
    <div class="list_body" ng-mousedown="handleMouseDown($event)" ng-right-click = "showContextMenu($event)">
        <div class="file_item"
             ng-class="file.selected?'selected':''"
             ng-repeat="file in fileData"
             ng-dblclick="handleDblClick($event,file)"
             ng-click="handleClick($event,$index)"
             data-path="{{file.path}}"
             >
            <div class="thumb" ng-show="view=='thumb'">
                <img ng-src="{{file.thumb}}" alt=""/>
            </div>
            <div class="file_name">
                <i class="file_icon {{file.file_icon}}" ng-show="view=='list'">
                    <s class="locked" ng-show="file.lock==1"></s>
                </i>
                <span class="name">{{file.file_name}}</span>
            </div>
            <div class="last_edit_time" ng-show="view=='list'"><span>{{file.last_edit_time | date:'yyyy/M/d H:m'}}</span></div>
            <div class="file_type" ng-show="view=='list'"><span>{{file.file_type}}</span></div>
            <div class="file_size" ng-show="view=='list'"><span>{{file.file_size}}</span></div>
    </div>
    </div>

</div>
