<div>
    <div ng-show="!smartSidebar">
        <div>
            <i ng-show="sidbarData.icon" class="bgicon {{sidbarData.icon}}"></i>
        </div>
        <h3>{{sidbarData.title}}</h3>
        <div class="tip">
            {{sidbarData.tip}}
        </div>
    </div>
    <div ng-show="smartSidebar">
        <div  class="smart_rightside_title">智能文件夹</div>

        <div class="smart_rightside_list"  ng-repeat="smart in sidebarData" ng-class="smart.active?'active':''" ng-click="selectSmartFolder(smart)">
            <div ng-class="smart.icon"></div>
            {{smart.name}}
        </div>

    </div>
</div>