<header ng-controller="header">

    <breadsearch></breadsearch>
    <div class="back_forward btn-group">
        <button type="button" class="btn btn-gk back" ng-click="handleNav()" ng-disabled="!canBack"><i></i></button>
        <button type="button" class="btn btn-gk forward" ng-click="handleNav(true)" ng-disabled="!canForward"><i></i></button>
    </div>
    <div class="menu">
        <!--<a class="gk_drop" href="javascript:void(0);">-->
            <!--<i class="icon-group"></i>-->
        <!--</a>-->
        <span class="more_menu dropdown">
            <a href="javascript:void(0);" dropdown-toggle><i class="" ></i></a>
            <ul class="dropdown-menu">
                <li ng-repeat="menuchoice in items" >
                    <a ng-click = "menuchoice.menuclick()">{{menuchoice.item}}</a>
                </li>
            </ul>
        </span>
    </div>
</header>