<header ng-controller="header" ng-dblclick="testCallback()">
    <breadsearch></breadsearch>
    <div class="back_forward btn-group">
        <button type="button" class="btn btn-diablo back" ng-click="handleNav()" ng-disabled="!canBack"><i class="icon16x16 icon_leftarrow_white"></i></button>
        <button type="button" class="btn btn-diablo forward" ng-click="handleNav(true)" ng-disabled="!canForward"><i class="icon16x16 icon_rightarrow_white"></i></button>
    </div>
    <div class="menu">
        <span class="more_menu dropdown">
            <a href="javascript:void(0);" dropdown-toggle><i class="" ></i></a>
            <ul class="dropdown-menu">
                <li ng-repeat="menuchoice in items" >
                    <a ng-click = "menuchoice.menuclick()">{{menuchoice.item}}</a>
                </li>
            </ul>
        </span>
    </div>
</header>