<!-- 左侧边栏 -->
<aside class="left_sidebar" ng-controller="leftSidebar">
    <member user="PAGE_CONFIG.user"></member>
    <div class="scrollbar tree_wrapper">
        <abn-tree tree-data="orgTreeList"
                  header="我的云库"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_teamfolder"
                  icon-node-collapse="icon_teamfolder"
                  selected-branch="selectedBranch"
                  on-select="handleSelect(branch,GKPartition.teamFile)"
                  on-expand="handleExpand(branch,GKPartition.teamFile)"
                  on-drop="handleDrop(branch)"
                >
        </abn-tree>
        <abn-tree tree-data="orgSubscribeList"
                  header="订阅的云库"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_subscribefolder"
                  icon-node-collapse="icon_subscribefolder"
                  selected-branch="selectedBranch"
                  on-select="handleSelect(branch,GKPartition.subscribeFile)"
                  on-expand="handleExpand(branch,GKPartition.subscribeFile)"
                >
        </abn-tree>
        <abn-tree tree-data="smartTreeList"
                  header="智能文件夹"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_smartfolder"
                  icon-node-collapse="icon_smartfolder"
                  selected-branch="selectedBranch"
                  show-add-btn ="false"
                  on-select="handleSelect(branch,GKPartition.smartFolder)"
                  on-expand="handleExpand(branch,GKPartition.smartFolder)"
                  class="smart_tree_list"
                >
        </abn-tree>
    </div>
</aside>