<!-- 左侧边栏 -->
<aside class="left_sidebar" ng-controller="leftSidebar">
    <member user="PAGE_CONFIG.user"></member>
    <div class="scrollbar tree_wrapper">
        <abn-tree tree-data="treeList"
                  header="我的空间"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_folder"
                  icon-node-collapse="icon_folder"
                  selected-branch="selectedMyBranch"
                  init-selected-branch = "initSelectedBranch"
                  on-add ="handleAdd(GKPartition.myFile)"
                  on-select="handleSelect(branch,GKPartition.myFile)"
                  on-expand="handleExpand(branch,GKPartition.myFile)"
                >
        </abn-tree>
        <abn-tree tree-data="orgTreeList"
                  header="我的团队"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_folder"
                  icon-node-collapse="icon_folder"
                  selected-branch="selectedOrgBranch"
                  on-add ="handleAdd(GKPartition.teamFile)"
                  on-select="handleSelect(branch,GKPartition.teamFile)"
                  on-expand="handleExpand(branch,GKPartition.teamFile)"
                >
        </abn-tree>
        <abn-tree tree-data="orgSubscribeList"
                  header="订阅团队"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_folder"
                  icon-node-collapse="icon_folder"
                  selected-branch="selectedSubscribleBranch"
                  on-add="handleAdd(GKPartition.subscribeFile)"
                  on-select="handleSelect(branch,GKPartition.subscribeFile)"
                  on-expand="handleExpand(branch,GKPartition.subscribeFile)"
                >
        </abn-tree>
        <abn-tree tree-data="smartTreeList"
                  header="智能文件夹"
                  icon-leaf="icon_file"
                  icon-expand="icon_fold"
                  icon-collapse="icon_unfold"
                  icon-node-expand="icon_folder"
                  icon-node-collapse="icon_folder"
                  selected-branch="selectedSmartBranch"
                  show-add-btn ="false"
                  on-select="handleSelect(branch,GKPartition.smartFolder)"
                  on-expand="handleExpand(branch,GKPartition.smartFolder)"
                  class="smart_tree_list"
                >
        </abn-tree>
    </div>
</aside>