<div class="nearby_sidebar">
    <div class="section_title">
        <span>正在扫描<loading-ellipsis></loading-ellipsis></span>
        <a href="javascript:void(0);" class="stop_find" ng-click="toogleFind()"><i></i></a>
    </div>
    <section>
      <div class="nearby_member">
          <h4 class="layer_title">
              <span>附近的人</span>
              <span ng-bind="memberCount"></span>
          </h4>
          <div class="scrollbar nearby_list nearby_member_list">
              <nearby-member ng-repeat="member in nearbyMembers" ip="{{member.ip}}" port="{{member.port}}" name="{{member.name}}" photo="{{member.photo}}" uid="{{member.userid}}"></nearby-member>
          </div>
      </div>
        <div class="nearby_group">
            <h4 class="layer_title">
                <span>附近的云库</span>
                <span ng-bind="groupCount"></span>
            </h4>
            <div class="scrollbar nearby_list nearby_team_list">
                <nearby-team ng-repeat="team in nearbyTeams" logo="{{team.logo}}" org-id="{{team.orgid}}" name="{{team.orgname}}"></nearby-team>
            </div>
        </div>
    </section>
</div>