<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>我的消息</h4>
</div>
<div class="scrollbar modal-body">
    <div ng-show="!classifyNews || !classifyNews.length" class="empty">没有消息</div>
    <ul class="news_list" ng-show="showList">
        <li ng-repeat="new in classifyNews">
            <div class="date">{{new.date_text}}</div>
            <ul class="message_list">
                <li ng-repeat="item in new.list" ng-switch="item.act">
                    <div class="c_f_after" ng-class="item.opts&&item.opts.length?'button_len_'+item.opts.length:''">
                        <div class="opts" ng-if="item.opts && item.opts.length">
                            <button ng-repeat="opt in item.opts" class="btn opt.classes" ng-click="opt.click(item)">{{item.text}}</button>
                        </div>
                        <span class="time">{{item.dateline|date:'H:mm'}}</span>
    <span class="text">
        <span>
            <img src="images/default_photo.png" ng-src="item.member_photo" error-src="images/default_photo.png" class="photo"/>
            <img src="images/default_logo.png" ng-src="item.member_photo" error-src="images/default_logo.png" class="photo"/>
        </span>
       <span>{{item.member_name}}</span>
       <span ng-bind-html="item.render_text"></span>
    </span>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>