<div class = "newsheader" ng-app ="gkNewsApp" ng-controller = "newsCtrl" >
    <div class = "news-wrapper news-charge" >
        <div class = "news-container ">
            <div class = "news-content-scroll scrollbar">
                <div class = "news-header">
                    <h1>
                        消息
                    </h1>
                </div>
                <div class = "news-content"  >
                    <div class = "news-line"></div>
                    <noupdate ng-show = "newsShow == 'noNews'"></noupdate>
                    <div ng-show = "newsShow = 'yesNews'" ng-repeat = "equalDataNewsTo in equalDataNew">
                        <update ng-repeat = "equalDataNewTo in equalDataNewsTo"></update>
                        <div class = "news-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "news-packup" >
            <img id = "newsPackUp" src = "images/deputy/packup.png" alt = "packup" ng-click = "newsPackUp"/>
        </div>
    </div>
</div>