<div class = "personal-management-team personal-management-add" ng-show = "haveNoTeam == 'haveTeam' ">
    <div class = "personal-team-picture f_l">
        <a href = "javascript:;" title = "teampicture">
            <img src = "../images/deputy/picture.jpg" alt = "teampicture" />
        </a>
    </div>
    <ul class = "personal-management-information f_l">
        <li class = "personal-team-name">
            <span title = "{{createTeam.name}}">{{createTeam.name}}</span>
        </li>
        <li class = "personal-team-competence">
            <span ng-class = "'perdisplayBlock':join{{createTeam.type}},perdisplayNone':!join{{createTeam.type}}" title = "待加入">待加入</span>
            <span ng-class = "'perdisplayBlock':!join{{createTeam.type}},perdisplayNone':join{{createTeam.type}}" title = "已加入">已加入</span>
        </li>
    </ul>
    <ul class="personal-team-management-show personal-team-management-add c_f_after">
        <li class = "personal-float-management f_l">
            <a href = "javascript:void(0);"
               ng-class = "'perdisplayBlock':join{{createTeam.type}},perdisplayNone':!join{{createTeam.type}}"
               ng-click = "join{{createTeam.type}} = !join{{createTeam.type}}"
               ng-clange = "perjoin{{createTeam.org_id,createTeam_code}}"
               title = "加入">
                加入
            </a>
            <a href = "javascript:void(0);" ng-class = "'perdisplayBlock':!join1,perdisplayNone':join1" title = "管理">
                管理
            </a>
            <a href = "javascript:void(0);" ng-class = "'perdisplayBlock':join0,perdisplayNone':!join0" title = "">

            </a>
        </li>
        <li class = "personal-float-quit f_r">
            <a href = "javascript:void(0)" ng-click = "perinvitereject({{createTeam.org_id}},{{createTeam.code}})" title = "退出">
                退出
            </a>
        </li>
    </ul>
</div>