<div class = "personal-management-team">
    <div class = "personal-team-picture f_l">
        <a href = "javascript:;" title = "teampicture">
             <img src = "../images/deputy/picture.jpg" alt = "teampicture" />
        </a>
    </div>
    <ul class = "personal-management-information f_l">
         <li class = "personal-team-name">
            <span title = "{{perteam.name}}">{{perteam.name}}</span>
         </li>
        <li class = "personal-team-competence">
            <span title = "{{perteam.admin}}">{{perteam.admin}}</span>
             </li>
        </ul>
     <ul class="personal-team-management-show c_f_after">
        <li class = "personal-float-management f_l">
             <a href = "" title = "{{perteam.management}}">{{perteam.management}}</a>
            </li>
         <li class = "personal-float-quit f_r">
             <a href = "#" title = "退出"> 退出</a>
          </li>
     </ul>
</div>