<aside class="right_sidebar" ng-class="PAGE_CONFIG.mount.org_id==0?'my_right_sidebar':''" >
    <div ng-if="!PAGE_CONFIG.networkConnected">
        <network-unconnect></network-unconnect>
    </div>
    <div ng-if="PAGE_CONFIG.networkConnected">
        <div ng-switch="sidebar">
            <div ng-switch-when="singlefile">
                <singlefile-right-sidebar></singlefile-right-sidebar>
            </div>
            <div ng-switch-when="multifile">
                <multifile-right-sidebar></multifile-right-sidebar>
            </div>
            <div ng-switch-when="search">
                <search-right-sidebar></search-right-sidebar>
            </div>
            <div ng-switch-when="nofile">
                <nofile-right-sidebar></nofile-right-sidebar>
            </div>
        </div>
    </div>
</aside>