<div class="modal-header">
    <h3>保存搜索</h3>
</div>
<div class="modal-body">
    <i class="icon_smartfolder"></i>
    <div class="input_wrapper">
        <div>
            <label>名称：</label>
            <input class="form-control" type="text" value="" name="smartfolder_name" id="smartfolder_name" ng-model="smartFolderName" />
        </div>
       <div>创建后将添加到左侧边栏</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(smartFolderName)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>