<div>
    <select ng-model="condition" ng-options="option.name for option in options"></select>
    <div>
        <div class="file_type_layer">
            <select name="file_type" ng-model="fileType" ng-options="fileType.name for fileType in fileTypes"></select>
        </div>
        <div class="create_date_layer">
           <input-datepicker ng-model="fromCreateDate"></input-datepicker>
           <input-datepicker ng-model="toCreateDate"></input-datepicker>
        </div>
        <div class="edit_dateline_layer">
            <input-datepicker ng-model="fromEditDate" class=""></input-datepicker>
            <input-datepicker ng-model="toEditDate" class=""></input-datepicker>
        </div>
        <div class="creator_layer">
            <input name="creator" ng-model="creator" />
        </div>
    </div>
</div>