<div>
    <select>
        <option ng-repeat="option in options" value="option.value">{{option.name}}</option>
    </select>
    <div>
        <div class="file_type_layer">
            <select name="file_type" ng-model="fileType">
                <option ng-repeat="fileType in fileTypes" value="{{fileType.value}}">{{fileType.name}}</option>
            </select>
        </div>
        <div class="create_date_layer">
           <div>
               <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="fromCreateDate" is-open="fromCreateDateIsOpen" />
              <i class="icon-calendar"></i>
           </div>
          <div>
              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="toCreateDate" is-open="toCreateDateIsOpen" />
              <i class="icon-calendar"></i>
          </div>
        </div>
        <div class="edit_dateline_layer">
            <div>
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="fromEditDate" is-open="fromEditDateIsOpen" />
                <i class="icon-calendar"></i>
            </div>
            <div>
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="toEditDate" is-open="toEditDateIsOpen" />
                <i class="icon-calendar"></i>
            </div>
        </div>
    </div>
</div>