<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>请选择</h4>
</div>
<div class="modal-body scrollbar">
    <abn-tree tree-data="fileData"
              icon-leaf="icon_file"
              icon-expand="icon_fold"
              icon-collapse="icon_unfold"
              icon-node-expand="icon_teamfolder"
              icon-node-collapse="icon_teamfolder"
              selected-branch="selectedBranch"
              init-selected-branch="initSelectedBranch"
              on-expand="handleExpand(branch,GKPartition.teamFile)"
              on-select="handleSelect(branch)">
    </abn-tree>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>