<div class="modal-header">
    <h3>同步设置</h3>
</div>
<div class="modal-body" style="padding:0px 40px 0px 40px;font-size:14px;">
    <p>将 "<span style="padding:5px;font-size:16px;color:#51a8eb; ">{{filename}}</span>" 同步到本地。开启同步后，本地文件夹内的文件将自动与云库同步。</p>
    <div style="margin-top:15px; margin-bottom:40px;">
        <label for="local_uri">本地位置：</label>
        <input class="form-control" readonly ng-model="localURI" type="text" name="local_uri" id="local_uri"/><button class="btn btn-default reset_local_uri" ng-click="reSetLocalPath()">更改</button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">开启</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>