<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>设置里程碑</h4>
</div>
<div class="modal-body">
    <div ng-show="!PAGE_CONFIG.networkConnected">
        <network-unconnect></network-unconnect>
    </div>
    <div ng-show="PAGE_CONFIG.networkConnected">
        <div class="file_wrapper">
           <div class="icon_wrapper">
               <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)<0"
                    ng-src="{{file.filename | getFileThumb:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}"/>
               <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)>=0"
                    error-src="{{file.filename | getFileThumb:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}"
                    ng-src="{{file.hash | getThumbUrl:file.filehash}}"/>
           </div>
           <div class="file_info">
               <div class="filename_wrapper">
                   <span class="filename" title="{{file.filename}}">{{file.filename}} &nbsp;<span class="file_version" ng-show="file.index>0">V{{file.index}}</span></span>
               </div>
              <div class="other_info">
                  <span class="last_member_name">{{file.last_member_name}}</span>
                  <span class="last_edit_time">{{file.last_edit_time*1000 | date:'yyyy/MM/dd HH:mm'}}</span>
                  <span class="filesize" ng-show="file.dir==0">{{file.filesize|bitSize}}</span>
              </div>
           </div>

        </div>
        <div class="textarea_wrapper">
            <textarea class="form-control" ng-model="message" placeholder="为里程碑添加描述"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer" ng-show="PAGE_CONFIG.networkConnected">
    <button class="btn btn-primary" ng-click="markMilestone(message)">标记里程碑</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>