<li class = "sharing-group-member  c_f_after">
    <div class = "sharing-group-information f_l">
         <div class = "sharing-group-picture f_l">
             <a href = "javascript:void(0);" title = "teampicture">
                <img src = "../images/deputy/picture.jpg" alt = "teampicture" />
             </a>
         </div>
         <div class ="sharing-group-name f_l">
            <span>海浩</span>
         </div>
    </div>
    <div class = "sharing-group-competence f_l" style = "position:relative;">
        <input class= "sharing-group-competence-button" ng-click="myVar='my-class'" type = "button" value = "编辑者"/>
        <ul  ng-class = "myVar">
            <li class="ng-class:item.isSelected" ng-repeat="item in list">
                {{item.name}}
    </li>
        </ul>
    </div>

    <div class = "sharing-group-refresh-delete f_l">
        <a href = "javascript:;" title = "重发"><img src = "../images/deputy/group-1.jpg" alt = "重发"/></a>
        <a href = "javascript:;" title = "删除"><img src = "../images/deputy/group-2.jpg" alt = "删除"/></a>
    </div>
</li>