<li class = "sharing-group-member  c_f_after">
    <div class = "sharing-group-information f_l">
         <div class = "sharing-group-picture f_l">
             <a href = "javascript:void(0);" title = "teampicture">
                <img src = "images/deputy/picture.jpg" alt = "teampicture" />
             </a>
         </div>
         <div class ="sharing-group-name f_l">
            <span>海浩</span>
         </div>
    </div>
    <div class = "sharing-group-competence f_l" style = "position:relative;">
        <input class= "sharing-group-competence-button"  type = "button" value = "编辑者"/>
    </div>
    <div class = "sharing-group-refresh-delete f_l">
        <a class = "retransmission" href = "javascript:;" title = "重发"><img src = "images/deputy/sharing1.jpg" /></a>
        <a class = "delete" href = "javascript:;" title = "删除"><img src = "images/deputy/sharing3.jpg" /></a>
    </div>
</li>