<li class = "sharing-group-member  c_f_after">
    <div class = "sharing-group-information f_l">
         <div class = "sharing-group-picture f_l">
             <a href = "javascript:;" title = "teampicture">
                <img src = "../images/deputy/picture.jpg" alt = "teampicture" />
             </a>
         </div>
         <div class ="sharing-group-name f_l">
            <span>海浩</span>
         </div>

    </div>
    <div class = "sharing-group-competence f_l">
        <input class= "sharing-group-competence-button" type = "button" value = "编辑者"/>
    </div>
    <div class = "sharing-group-refresh-delete f_l">
        <a href = "javascript:;" title = "刷新"><img src = "../images/deputy/group-1.jpg" alt = "刷新"/></a>
        <a href = "javascript:;" title = "删除"><img src = "../images/deputy/group-2.jpg" alt = "删除"/></a>
    </div>
</li>