
    <div  style="width:300px;height:100%; position:absolute;background-color: #ffffff;z-index:9999;right:0px;bottom:0px; border-left:1px solid #D0D0D0;">
        <header style="width:100%;height:45px; background-color:#E2E3E7;vertical-align: middle; ">
            <span style="font-size: 14px; color: #464952;margin-left:10px;">文件讨论</span>
            <span style="display: block;float: right;margin-right:10px;cursor:pointer;" ng-click="cancel();"><i class="icon16x16 icon_clear"></i></span>
        </header>
        <section class="scrollbar discuss-list" style="position:absolute;top:45px;left:0px;right:0px;padding: 0px;bottom: 100px; overflow: auto;">
            <ul class="scrollbar history_list" >
                <li class="c_f_after">
                    <div  style="width:22px; float: left;margin-right:20px;">
                        <div>
                            <avatar class="avatar" gk-src="{{history.member_id|getAvatarUrl}}"></avatar>
                        </div>
                    </div>
                    <div  style="float:left;width:230px">
                        <div>
                              <span>
                                    <span style="color: #88B9E0;">许海浩</span>
                                    <span style="color:#c4c7cb;">今天 16:14</span>
                              </span>
                        </div>
                         <span>这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看</span>

                    </div>
                </li>

                <li class="c_f_after">
                    <div  style="width:22px; float: left;margin-right:20px;">
                        <div>
                            <avatar class="avatar" gk-src="{{history.member_id|getAvatarUrl}}"></avatar>
                        </div>
                    </div>
                    <div  style="float:left;width:230px">
                        <div>
                              <span>
                                    <span style="color: #88B9E0;">许海浩</span>
                                    <span style="color:#c4c7cb;">今天 16:14</span>
                              </span>
                        </div>
                        <span>这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看</span>

                    </div>
                </li>

                <li class="c_f_after">
                    <div  style="width:22px; float: left;margin-right:20px;">
                        <div>
                            <avatar class="avatar" gk-src="{{history.member_id|getAvatarUrl}}"></avatar>
                        </div>
                    </div>
                    <div  style="float:left;width:230px">
                        <div>
                              <span>
                                    <span style="color: #88B9E0;">许海浩</span>
                                    <span style="color:#c4c7cb;">今天 16:14</span>
                              </span>
                        </div>
                        <span>这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看</span>

                    </div>
                </li>

                <li class="c_f_after">
                    <div  style="width:22px; float: left;margin-right:20px;">
                        <div>
                            <avatar class="avatar" gk-src="{{history.member_id|getAvatarUrl}}"></avatar>
                        </div>
                    </div>
                    <div  style="float:left;width:230px">
                        <div>
                              <span>
                                    <span style="color: #88B9E0;">许海浩</span>
                                    <span style="color:#c4c7cb;">今天 16:14</span>
                              </span>
                        </div>
                        <span>这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看这个文件已经更新了，大家一起来看看</span>

                    </div>
                </li>
            </ul>
        </section>
        <footer style="height:100px">
             <textarea ng-style="textareaStyle"   placeholder="按Enter键发送，不超过800字" class="scrollbar post_text ng-pristine ng-valid"  style="text-indent: 0px;"></textarea>
             <div class="btn_wrapper">
                <span class="ng-binding">你已输入了0个字</span>
                <button class="btn btn-primary pull-right post_btn">发 送</button>
             </div>

        </footer>


    </div>
