<div class="single_file" scroll-load="loadHistory()" disable-scroll="disableScrollLoadHistory" trigger-distance="20">
    <div ng-show="fileLoaded">
        <div ng-show="!fileExist">
            <filter-right-sidebar></filter-right-sidebar>
        </div>
        <div ng-show="fileExist">
            <div class="file_info_wrapper">
                <div class="section_title">
                    <span class="name">{{file.filename}}</span>
                    <span class="title">
                        详细
                    </span>
                </div>
                <section class="scrollbar">
                    <div class="file_icon">
                        <img ng-if="['jpg','jpeg','png','gif','bmp'].indexOf(file.ext)<0"
                             ng-src="{{file.filename | getFileThumb:file.dir:0:file.sync}}"/>
                        <img ng-if="['jpg','jpeg','png','gif','bmp'].indexOf(file.ext)>=0"
                             error-src="{{file.filename | getFileThumb:file.dir:0:file.sync}}"
                             ng-src="{{file.hash | getThumbUrl:file.filehash:file.fullpath}}"/>
                    </div>
                    <div class="file_attrs">
                        <div class="file_name">
                            <span title="{{file.filename}}">{{file.filename}}</span>
                        </div>
                        <div title="创建人：{{file.creator_member_name}}">创建人：<span
                                ng-bind="file.creator_member_name"></span></div>
                       
                        <div class="smart">
                            <a href="javascript:void(0)" ng-repeat="smart in smarts"
                               ng-class="isSmartAdd(file.favorite,smart.filter)?'active':''"
                               ng-click="toggleSmart(smart.filter,file.favorite)">
                                <i class="icon16x16 {{smart.icon}}" title="{{smart.name}}"></i>
                            </a>
                        </div>
                    </div>
                    <div class="opt_wrapper" ng-show="showTab">
                        <button class="btn btn-opt" ng-if="showLinkBtn" ng-click="copyToEmail(file)"><i class="icon16x16 copy_tomail"></i> 云附件</button>
                        <button class="btn btn-opt" ng-if="!showLinkBtn" style="cursor: default;"><i class="icon16x16 copy_tomail_disable"></i> 云附件</button>
                        <button class="btn btn-opt" ng-if="showLinkBtn" ng-click="publishFile(file)"><i class="icon16x16 icon_link"></i> 链接</button>
                        <button class="btn btn-opt" ng-if="!showLinkBtn" style="cursor: default;"><i class="icon16x16 icon_link_disable"></i> 链接</button>
                        <button class="btn btn-opt" ng-if="showChatBtn" ng-click="showMilestoneDialog(file)"><i class="icon16x16 icon_chat"></i> 讨论</button>
                        <button class="btn btn-opt" ng-if="!showChatBtn" style="cursor: default;"><i class="icon16x16 icon_chat_disable"></i> 讨论</button>
                    </div>
                </section>
            </div>
            <section class="file_detail_wrapper" ng-show="showTab && showHistory">
                <div class="section_title">
                    <span>历史</span>
                </div>
                <div class="history_wrapper" ng-class="!histories.length || localFile.dir==1?'nocheckbox':''">
                    <div class="empty" ng-if="!histories || !histories.length">
                        <span>没有历史</span>
                    </div>
                    <ul class="scrollbar history_list" gk-version-contextmenu="true">
                        <li class="c_f_after {{'act_'+history.act}}" ng-dblclick="openFile(history)" title="{{history.property.message}}" ng-class="history.property.milestone?'milestone':''" ng-repeat="history in histories" data-version="{{history.property.version}}" data-dir="{{history.dir}}" data-fullpath="{{history.fullpath}}" data-hash="{{history.hash}}">
                            <div class="act_name">
                                <div class="avatar_wrapper">
                                    <avatar class="avatar" gk-src="{{history.member_id|getAvatarUrl}}"></avatar>
                                </div>
                            </div>
                            <div class="act_info">
                                <div class="filename_wrapper">
                                    <span class="version_index" ng-if="history.property && history.property.index_version>0">V{{history.property.index_version}}</span>
                                    <span class="name_size_wrapper">
                                          <span class="act_member" title="{{history.member_name}}">{{history.member_name}}</span>
                                          <span class="act">{{history.act_name}}</span>
                                          了文件<span ng-if="history.dir==1">夹</span>
                                    </span>
                                    <br/>
                                    <span ng-show="file.hash!=history.hash" class="filename" title="{{history.fullpath|baseName}}">{{history.fullpath|baseName}}</span>
                                </div>
                                <ul class="tag_list" ng-if="history.property && history.property.message">
                                    <li>
                                        "<span ng-bind="history.property.message"></span>"
                                    </li>
                                </ul>
                                <div class="other_info">
                                    <span class="act_dateline" title="{{history.dateline*1000 | date:'yyyy/MM/dd HH:mm'}}">{{history.dateline*1000 | timeAgo}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="empty loading" ng-show="!fileLoaded">正在加载...</div>
</div>