<div class="single_file">
    <div ng-show="fileLoaded && sidebarLoaded">
        <div ng-show="!fileExist">
            <filter-right-sidebar></filter-right-sidebar>
        </div>
        <div ng-show="fileExist">
            <div class="file_info_wrapper">
                <div class="section_title">
                    <span class="name">{{file.filename}}</span>
                    <span class="title">
                        详细
                    </span>
                </div>
                <section class="scrollbar">
                    <div class="file_icon">
                        <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)<0"
                             ng-src="{{file.filename | getFileThumb:file.dir:0:file.sync}}"/>
                        <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)>=0"
                             error-src="{{file.filename | getFileThumb:file.dir:0:file.sync}}"
                             ng-src="{{file.hash | getThumbUrl:file.filehash}}"/>
                    </div>
                    <div class="file_attrs">
                        <div class="file_name">
                            <span title="{{file.filename}}">{{file.filename}}</span>
                        </div>
                        <div title="创建人：{{file.creator_member_name}}">创建人：<span
                                ng-bind="file.creator_member_name"></span></div>
                       
                        <div class="smart" guider="mark" guider-placement="left">
                            <a href="javascript:void(0)" ng-repeat="smart in smarts"
                               ng-class="isSmartAdd(file.favorite,smart.filter)?'active':''"
                               ng-click="toggleSmart(smart.filter,file.favorite)">
                                <i class="icon16x16 {{smart.icon}}" title="{{smart.name}}"></i>
                            </a>
                        </div>
                    </div>
                    <div class="opt_wrapper" ng-show="showTab">
                        <button class="btn btn-opt" ng-show="showLinkBtn" guider="plink" guider-placement="left" ng-click="publishFile(file)">临时链接</button>
                        <button guider="chat" guider-placement="left" ng-show="showChatBtn" class="btn btn-opt" ng-click="startChat(file)">发送到讨论</button>
                    </div>
                    <div class="tags">
                        <div ng-if="!showTab">
                            {{file.tag}}
                        </div>
                        <textarea guider="comment" guider-placement="left" ng-if="showTab" size-adjust focus-me="focusPostTextarea" ng-blur="postTag(file.tag)" maxlength="280" ng-keydown="handlePostKeyDown($event,file.tag)" class="form-control" placeholder="+添加注释" ng-model="file.tag"></textarea>
                    </div>
                </section>

            </div>
            <section class="file_detail_wrapper" ng-if="showHistory" ng-show="showTab">
                <div class="section_title">
                    <button class="btn btn-opt" ng-show="localFile.dir==0" guider-placement="left" guider="milestone" ng-click="showMilestoneDialog(file)">里程碑</button>
                    <span>历史</span>
                </div>
                <div class="history_wrapper" ng-class="!histories.length || localFile.dir==1?'nocheckbox':''">
                    <div class="empty" ng-if="!histories || !histories.length">没有历史</div>
                    <ul class="scrollbar history_list" gk-version-contextmenu="true">
                        <li class="c_f_after {{'act_'+history.act}}" ng-dblclick="openFile(history)" title="{{history.property.message}}" ng-class="history.property.milestone?'milestone':''" ng-repeat="history in histories | filter:historyFilter" data-version="{{history.property.version}}" data-dir="{{history.dir}}" data-fullpath="{{history.fullpath}}">
                            <div class="act_name">
                                <div class="avatar_wrapper">
                                    <avatar class="avatar avatar_mini" gk-src="{{history.member_id|getAvatarUrl}}"></avatar>
                                </div>
                            </div>
                            <div class="act_info">
                                <div class="filename_wrapper">
                                    <span class="version_index" ng-if="history.property && history.property.index_version>0">V{{history.property.index_version}}</span>
                                    <span class="name_size_wrapper">
                                    <span class="filename" title="{{history.fullpath|baseName}}">{{history.fullpath|baseName}}</span>
                                       &nbsp;
                                    <span class="version_size" title="{{history.dir==1?'&nbsp;':(history.property.filesize|bitSize)}}">{{history.dir==1?'&nbsp;':(history.property.filesize|bitSize)}}</span>
                                    </span>
                                </div>
                                <div class="other_info">
                                    <span class="act_dateline" title="{{history.dateline*1000 | date:'yyyy/MM/dd HH:mm'}}">{{history.dateline*1000 | dateAgo}}</span>
                                    <span class="act_member" title="{{history.member_name}}">{{history.member_name}}</span>
                                    <span class="act">{{history.act_name}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="checkbox_wrapper" ng-show="histories.length && localFile.dir==0"><input class="input_checkbox" id="only_show_milestone" type="checkbox" ng-model="onlyShowMileStone" /><label for="only_show_milestone">只显示里程碑</label></div>
                </div>
            </section>
        </div>
    </div>
    <div class="empty loading" ng-show="!fileLoaded || !sidebarLoaded">正在加载...</div>
</div>