<div class="single_file">
    <div ng-show="!loading">
        <div ng-show="!fileExist">
            <filter-right-sidebar></filter-right-sidebar>
        </div>
        <div ng-show="fileExist">
            <div class="file_info_wrapper">
                <div class="section_title">
                    <span class="name">{{file.filename}}</span>
                    <span class="title">
                        详细
                    </span>
                </div>
                <section class="scrollbar" gk-guider='{
                  buttons: [{name: "下一步",onclick:GKGuiders.next}],
                  description: "添加“注释”和“图形标记”，可以更方便地归整文件，搜索也更快速",
                  id: "guide_4",
                  next: "guide_5",
                  position: 9,
                  title: "注释和标记",
                  width: 280
                  }'>
                    <div class="file_icon">
                        <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)<0"
                             ng-src="{{file.filename | getFileThumb:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}"/>
                        <img ng-if="['jpg','jpeg','png','gif'].indexOf(file.ext)>=0"
                             error-src="{{file.filename | getFileThumb:file.dir:(file.open||(PAGE_CONFIG.file.sharepath?1:0)):file.sync}}"
                             ng-src="{{file.hash | getThumbUrl:file.filehash}}"/>
                    </div>
                    <div class="file_attrs">
                        <div class="file_name">
                            <span title="{{file.filename}}">{{file.filename}}</span>
                        </div>
                        <div title="创建人：{{file.creator_member_name}}">创建人：<span
                                ng-bind="file.creator_member_name"></span></div>
                        <div title="最后修改人：{{file.last_member_name}}">最后修改人：<span ng-bind="file.last_member_name"></span>
                        </div>
                        <div class="smart">
                            <a href="javascript:void(0)" ng-repeat="smart in smarts"
                               ng-class="isSmartAdd(file.favorite,smart.filter)?'active':''"
                               ng-click="toggleSmart(smart.filter,file.favorite)">
                                <i class="icon16x16 {{smart.icon}}" title="{{smart.name}}"></i>
                            </a>
                        </div>
                    </div>

                    <div class="tags">
                        <div ng-if="!showTab">
                            {{file.tag}}
                        </div>
                        <textarea ng-if="showTab" size-adjust focus-me="focusPostTextarea" ng-blur="postTag(file.tag)" maxlength="280" ng-keydown="handlePostKeyDown($event,file.tag)" class="form-control" placeholder="+添加注释" ng-model="file.tag"></textarea>
                    </div>
                </section>

            </div>
            <section class="file_detail_wrapper" ng-show="showTab" gk-guider='{
                  buttons: [{name: "下一步",onclick:GKGuiders.next}],
                  description: "云库中的其他成员对协作编辑的文件进行讨论。并可以查看文件修改的历史版本",
                  id: "guide_5",
                  next: "guide_6",
                  position: 9,
                  title: "讨论和历史",
                  width: 280
                  }'>
                <tabset direction="blew">
                    <tab heading="讨论">
                        <div class="update_wrapper" ng-class="inputingRemark?'editing':''">
                            <div class="empty" ng-if="!remarks || !remarks.length">没有讨论</div>
                            <ul class="scrollbar update_list">
                                <li ng-repeat="remark in remarks" class="item c_f_after">
                            <span class="update_member" title="{{remark.member_name}}">
                                <avatar class="avatar avatar_mini" gk-src="{{remark.member_photo}}"></avatar>
                                <span>{{remark.member_name}}：</span>
                            </span>
                                 <span class="update_text">
                                    <span ng-bind-html="remark.render_text"></span>
                                     <span class="update_time">({{remark.dateline*1000| date:'yyyy/MM/dd HH:mm'}})</span>
                                </span>
                                </li>
                            </ul>
                            <div class="post_wrapper" ng-show="remindMembers && remindMembers.length">
                                <div>
                                    <textarea class="form-control"  ng-model="remarkText" input-tip="@" input-tip-list="remindMembers"
                                              input-tip-placement="top right" ng-keydown="handleKeyDown($event)" placeholder="参与讨论" ng-focus="handleFocus()" ng-model="remarkText"></textarea>
                                    <div class="post_opts">
                            <span ng-show="remindMembers && remindMembers.length">
                                <a href="javascript:void(0)" ng-click="insertAt('@')" class="f_l" title="提醒">@</a>
                            <a href="javascript:void(0)" ng-click="insertAt('@all ')" class="f_l"
                               title="提醒所有共享者">@全部</a>
                            </span>
                                        <button class="btn btn-primary f_r" ng-disabled="posting" ng-click="postRemark(remarkText)">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tab>
                    <tab heading='历史'>
                        <div class="empty" ng-if="!histories || !histories.length">没有历史</div>
                        <ul class="scrollbar history_list" gk-version-contextmenu="localFile.dir==0">
                            <li class="item c_f_after" ng-class="'act_'+history.act" ng-repeat="history in histories" data-version="{{history.property.version}}">
                                <div class="act_name"><span>{{history.act_name}}</span></div>
                                <div class="act_info">
                                    <div class="version_size" title="{{history.property.filesize|bitSize}}"><span>{{history.property.filesize|bitSize}}</span></div>
                                    <div class="filename_wrapper"><span class="filename">{{history.fullpath|baseName}}</span></div>
                                    <div><span class="act_member" title="{{history.member_name}}">{{history.member_name}}</span><span
                                            class="act_dateline">{{history.dateline*1000 | date:'yyyy/MM/dd HH:mm'}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </tab>
                </tabset>
            </section>
        </div>
    </div>
</div>