 <div  class="site-content-synchronous" ng-show="siteSidebar=='contentSynchronous'"  >
        <p class = "sitesynchronousmanage">同步文件夹管理</p>
        <ul class = "site-content-synchronous-menu c_f_after">
            <li  class = "site-content-synchronous-file f_l"> 同步目录</li>
            <li  class = "site-content-synchronous-file f_l"> 同步状态</li>
            <li  class = "site-content-synchronous-file f_l"> 剩余时间</li>
            <li  class = "site-content-synchronous-file f_l"> 同步操作</li>
        </ul>
        <div class = "site-content-form scrollbar">
             <ul class = "c_f_after">
                <li  class = "site-synchronous-file f_l">设计部文件夹</li>
                <li  class = "site-synchronous-file f_l">完成同步</li>
                <li  class = "site-synchronous-file f_l"> 00:00:18</li>
                <li  class = "site-synchronous-file f_l">取消同步</li>
            </ul>
        </div>
        <a class = "sitesynchronousregain" ng-class = "{true: 'site-sidebar-color'}[synchronousregain]" ng-click = "synChronousRegain()" href = "javascript:void(0);" title = "恢复所有同步">恢复所有同步</a>
        <a class = "sitesynchronousremove" ng-class = "{true: 'site-sidebar-color'}[synchronousremove]" ng-click = "synChronousRemove()" href = "javascript:void(0);" title = "取消所有同步">恢复所有同步</a>
 </div>
