 <div  class="site-content-synchronous" ng-show="siteSidebar=='contentSynchronous'"  >
     <meta http-equiv="refresh" content="3">
     <p class = "sitesynchronousmanage">同步文件夹管理</p>
     <ul class = "site-content-synchronous-menu c_f_after">
         <li  class = "site-content-synchronous-file f_l"> 同步目录</li>
         <li  class = "site-content-synchronous-sync f_l"> 同步状态</li>
         <li  class = "site-content-synchronous-file f_l"> 同步操作</li>
     </ul>
     <div class = "site-content-form scrollbar">
         <ul>
           <li ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat = "syncData in sync" class = "syncline c_f_after">
             <div class = "site-synchronous-file f_l">{{syncData.webpath}}</div>
             <div class = "site-synchronous-sync f_l">{{syncData.finish}}</div>
             <div class = "site-synchronous-file sync-color f_l" ng-click = "syncCancel($index,'{{syncData.webpath}}','{{syncData.mountid}}')" ><a href = "javascript:void(0);">取消同步</a></div>
           </li>
         </ul>
     </div>
     <a class = "sitesynchronousregain"  ng-click = "startsync = (startsync ==='暂停所有同步'? '恢复所有同步':'暂停所有同步');siteSyncClick(startsync)" href = "javascript:void(0);" >{{startsync}}</a>
 </div>
