<div  class="site-content-synchronous" ng-show="siteSidebar== 'contentdevice'">
    <p class = "sitedeviceenroll">注册的设备</p>
    <ul class = "site-content-synchronous-menu c_f_after">
        <li  class = "site-content-synchronous-file f_l">系统名称</li>
        <li  class = "site-content-synchronous-file f_l"> 设备信息</li>
        <li  class = "site-content-synchronous-file f_l">最后登录时间</li>
        <li  class = "site-content-synchronous-file f_l"> 操作</li>
    </ul>
    <div class = "site-content-form scrollbar">
      <ul class = "c_f_after" >
            <li  class = "site-synchronous-file f_l">够快网页版</li>
            <li  class = "site-synchronous-file f_l">通用设备</li>
            <li  class = "site-synchronous-file f_l"> 2013-09-28 11:35:30</li>
            <li  class = "site-synchronous-file f_l">禁用</li>
       </ul>
     </div>
    <input class = "sitesynchronousban" type = "checkbox" />禁止其他新设备登录
</div>