<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body scrollbar">
     <div class="smart_desktop_title">智能桌面</div>
     <div class="smart_desktop_search">
         <input />
         <i class="icon16x16 icon_search"></i>
     </div>
     <div class="smart_desktop_topItem">
         <span class="last_visit">
             <div ng-click="clickItem(smartFolders[0])">
                 <i class="smart_desktop_icon94x94 last_visit"></i>
                 <div ng-bind="smartFolders[0].name"></div>
             </div>
             </a>
         </span>

         <span class="last_modify">
             <div ng-click="clickItem(smartFolders[1])">
                 <i class="smart_desktop_icon94x94 last_modify"></i>
                 <div  ng-bind="smartFolders[1].name"></div>
             </div>

         </span>
         <span class="last_message">
              <!--消息提醒-->
           <div class="message_tips" ng-show="newMsg">
                 <p>
                    <i class="hint"></i>
                </p>
           </div>
             <div ng-click="openNews();">
                 <i class="smart_desktop_icon94x94 last_message"></i>
                 <div>消息</div>
             </div>

         </span>
         <span class="last_account">
             <div ng-click="personalOpen();">
                 <i class="smart_desktop_icon94x94 last_account"></i>
                 <div>账户信息</div>
             </div>
         </span>
     </div>
    <div style="clear: both"></div>
    <div class="smart_desktop_item">
        <span class="item">
            <div  ng-click="clickItem(smartFolders[2])">
               <span>{{smartFolders[2].name}}</span>
                <div ng-click="editItem($event);"><i class="icon16x16 icon_pen"></i></div>
            </div>

        </span>
        <span class="item">
         <div  ng-click="clickItem(smartFolders[3])">
             <span>{{smartFolders[3].name}}</span>
             <div ng-click="editItem($event);"><i class="icon16x16 icon_pen"></i></div>
         </div>
        </span>
        <span class="item">
        <div ng-click="clickItem(smartFolders[4])">
            <span>{{smartFolders[4].name}}</span>
            <div ng-click="editItem($event);"><i class="icon16x16 icon_pen"></i></div>
        </div>
        </span>
        <span class="item">
            <div  ng-click="clickItem(smartFolders[5])">
                <span>{{smartFolders[5].name}}</span>
                <div ng-click="editItem($event);"><i class="icon16x16 icon_pen"></i></div>
            </div>
        </span>
        <span class="item">
             <div  ng-click="clickItem(smartFolders[6])">
                 <span>{{smartFolders[6].name}}</span>
                 <div ng-click="editItem($event);"><i class="icon16x16 icon_pen"></i></div>
             </div>
        </span>
        <span class="item">
            <div  ng-click="clickItem(smartFolders[7])">
                <span>{{smartFolders[7].name}}</span>
                <div ng-click="editItem($event);"><i class="icon16x16 icon_pen"></i></div>
            </div>
        </span>
    </div>
    <div style="clear: both"></div>
</div>