<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>文件更新</h4>
</div>
<div class="modal-body scrollbar"  scroll-load="handleScrollLoad()" trigger-direction="down" disable-scroll="!ableScroll">
       <div ng-show="!loadSummarySuccess" id="loading" style="text-align: center; vertical-align: middle;">
            正在加载...
       </div>
       <div ng-show="loadSummarySuccess" id="content">
        <div ng-repeat="summary in summarys">
             <span class="summary-item">
                 <img error-src=""  ng-src="{{summary.member_photo}}"/>
                <span>&nbsp;&nbsp;{{summary.member_name}}&nbsp;&nbsp;{{summary.act_name+"了"}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span style="color: #50ACF3;" ng-bind="summary.fileName" title="{{summary.fileName}}"></span>
             </span>
            <button ng-hide="summary.act == 0" ng-click="goToFile($event,summary)" title="位置">
                <i class="icon16x16 icon_search"></i>
            </button>
        </div>

       </div>
</div>
<div ng-show="showMoreLoading" id="summary_more_loading">
    数据加载中...
</div>