<div class="{{selectedTab.name}}">
    <div class="section_head">
        <h2>{{selectedTab.title}}</h2>
        <span class="global_opt_wrapper">
             <button class="btn btn-default" ng-click="accountSetting()">帐号设置</button>
             <button class="btn btn-danger" ng-click="logOut()">注销账号</button>
        </span>
    </div>

    <section>
          <div>
              <avatar gk-src="{{PAGE_CONFIG.user.avatar}}" class="avatar"></avatar>
              <span class="member_name">{{PAGE_CONFIG.user.member_name}}</span>
          </div>
        <ul>
            <li ng-repeat="attr in attrs" class="{{attr.name}}">
                <i class="icon16x16 {{attr.icon}}"></i>
                <span>{{attr.text}}</span>
            </li>
        </ul>
    </section>
</div>