<div class="{{selectedTab.name}}">
    <section class="scrollbar">
        <div class="list_wrapper">
            <div class="list_header">
                <div ng-repeat="th in thead">{{th}}</div>
            </div>
            <div class="list scrollbar">
                <div class="list_inner scrollbar">
                    <div class="empty" ng-if="!fileList || !fileList.length">无数据</div>
                    <queue-item ng-repeat="item in fileList"></queue-item>
                </div>
                <div class="list_inner" ng-if="['download','upload'].indexOf(selectedTab.name)>=0">
                    <div class="list_grid">同步列表</div>
                    <div class="list_layer scrollbar">
                        <div class="empty" ng-if="!syncFileList || !syncFileList.length">无数据</div>
                        <queue-sync-item ng-repeat="item in syncFileList"></queue-sync-item>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>