<div class="{{selectedTab.name}}">
    <h2>{{selectedTab.title}}</h2>
    <section class="scrollbar">
        <div class="list_wrapper">
            <div class="list_header">
               <div>设备名称</div>
                <div>系统名称</div>
                <div>最后登录数据</div>
               <div>操作</div>
            </div>
            <div class="list">
              <div class="item" ng-repeat="device in devices">
                     <div title="{{device.device_name|getDeviceName}}">
                         {{device.device_name|getDeviceName}}
                     </div>
                      <div title="{{device.os_name|getOS:device.os_version}}">
                          {{device.os_name|getOS:device.os_version}}
                      </div>
                     <div class="dateline" title="{{device.last_activity}}">
                         {{device.last_activity}}
                     </div>
                      <div ng-if="device.is_current_device ==1">当前正在使用</div>
                      <div ng-if="device.is_current_device !=1 && device.allow_edit==1">
                          <button ng-if="device.state==0" ng-click="editState(device,'active')">激活</button>
                          <button ng-if="device.state==1" ng-click="editState(device,'disable')">禁用</button>
                          <button ng-click="editState(device,'del')">删除</button>
                      </div>
              </div>
            </div>
        </div>
    </section>
</div>