<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>云库设置<span>{{orgName}}</span></h4>
</div>
<div class="modal-body">
    <div ng-if="!PAGE_CONFIG.networkConnected">
        <network-unconnect></network-unconnect>
    </div>
    <div ng-if="PAGE_CONFIG.networkConnected">
        <div ng-show="!loaded" class="empty">正在加载...</div>
        <iframe ng-show="loaded" frameborder="0" gk-onload="loaded=true" ng-src="{{url}}"  ></iframe>
    </div>
</div>