<div class="toolbar">
    <div class="opt_tool">
    <span class="filter_name" ng-show="(!opts||!opts.length)&&listName">{{listName}}</span>
    <button ng-repeat="opt in opts | orderBy:'+index'" class="f_l dropdown opt_btn">
        <a title="{{opt.name}}" dropdown-toggle class="btn btn-opt opt" href="javascript:void(0);" ng-class="opt.className?opt.className:'opt_'+opt.key" ng-click="opt.callback($event)">
            <i class="icon16x16" ng-class="opt.icon"></i>
            <span>{{opt.name}}</span>
            <i class="gk_down_arrow" ng-show="opt.items"></i>
        </a>
        <ul class="dropdown-menu" ng-if="opt.items">
            <li ng-repeat="subOpt in opt.items | orderObjectBy:'index'">
                <a href="javascript:;" ng-class="subOpt.className?subOpt.className:'opt_'+subOpt.key"
                   ng-click="subOpt.callback($event)">
                    <i></i><span>{{subOpt.name}}</span>
                </a>
            </li>
        </ul>
    </button>
    </div>
    <span class="opt f_r opt_view_change">
        <a href="javascript:;" title="列表模式" ng-click="changeView('list')" class="list_view" ng-class="view=='list'?'active':''"><i class="icon16x16 icon_listview"></i></a><a href="javascript:;" title="缩略图模式" ng-click="changeView('thumb')" class="thumb_view" ng-class="view=='thumb'?'active':''"><i class="icon16x16 icon_thumbview"></i></a>
    </span>
</div>