<div class = "viewmember-content-team">
    <div class = "viewmember-content-picture f_l">
        <a href = "javascript:void(0);" title = "teampicture">
            <img src = "../images/deputy/picture.jpg" alt = "teampicture" />
        </a>
    </div>
    <ul class = "viewmember-content-information f_l">
        <li class = "viewmember-content-name">
            <span title = "{{groupnew.username}}">{{groupnew.member_name}}</span>
        </li>
        <li class = "viewmember-content-email">
            <a href = "javascript:void(0);" style = "-webkit-text-size-adjust:none;font:4px" title = "{{groupnew.email}}">{{groupnew.member_email}}</a>
        </li>
    </ul>
    <a href="javascript:void(0);" class = "viewmember-content-normal" title = "邮箱">邮箱</a>
</div>