<div class = "contact-content-team">
    <div class = "contact-content-picture f_l">
        <a href = "javascript:;" title = "teampicture">
             <img src = "../img/picture.jpg" alt = "teampicture" />
            </a>
         </div>
    <ul class = "contact-content-information f_l">
         <li class = "contact-content-name">
             <span title = "{{groupnew.name}}">{{groupnew.name}}</span>
             </li>
         <li class = "contact-content-email">
             <a href = "#" style = "-webkit-text-size-adjust:none;font:4px" title = "{{groupnew.email}}">{{groupnew.email}}</a>
             </li>
        </ul>
    <a href="javascript:;" class = "contact-content-normal" title = "邮箱">邮箱</a>
</div>