<div class = "site-content-universal" ng-show="siteSidebar==\'contentUniversal\'" >
     <ul>
        <li><input type = "checkbox" checked="checked" value = "系统启动时运行够快" />系统启动时运行够快</li>
        <li><input type = "checkbox" checked="checked" value = "显示桌面通知" />显示桌面通知</li>
        <li><input type = "checkbox" checked="checked" value = "别人删除与我共享的文件时，也进入我电脑的回收站" />别人删除与我共享的文件时，也进入我电脑的回收站</li>
        <li><input type = "checkbox" checked="checked" value = "选中被锁定的文件时，用气泡提醒我" />选中被锁定的文件时，用气泡提醒我</li>
        <li>语言切换 :
            <select>
                <option value="简体中文"  selected="selected">简体中文</option>
                <option value="繁体中文">繁体中文</option>
                <option value="English">English</option>
            </select>
        </li>
     </ul>
</div>